{% if block.settings.accordion_title != blank %}

    <h2 class="" style="color:#6CB33F;" >
        {{ block.settings.accordion_title }}
    </h2>

{%- endif -%}

    <div class="faq-accordion " style="margin: 10px 0; ">
    
{% if block.settings.accordion_title_1 != blank %}

        <div class="faq-accordion-head" style="display:flex; align-items:center;" >
            <h4  style="margin-bottom:0!important;">{{ block.settings.accordion_title_1 }}</h4>

        </div>
        <div class="faq-accordion-body" >
            <p>{{ block.settings.accordion_content_1 }}</p>
        </div>

{%- endif -%}

{% if block.settings.accordion_title_2 != blank %}

        <div class="faq-accordion-head" style="display:flex; align-items:center;" >
            <h4  style="margin-bottom:0!important;">{{ block.settings.accordion_title_2 }}</h4>

        </div>
        <div class="faq-accordion-body" >
            <p>{{ block.settings.accordion_content_2 }}</p>
        </div>

{%- endif -%}

{% if block.settings.accordion_title_3 != blank %}

        <div class="faq-accordion-head" style="display:flex; align-items:center;" >
            <h4  style="margin-bottom:0!important;">{{ block.settings.accordion_title_3 }}</h4>

        </div>
        <div class="faq-accordion-body" >
            <p>{{ block.settings.accordion_content_3 }}</p>
        </div>

{%- endif -%}

{% if block.settings.accordion_title_4 != blank %}

        <div class="faq-accordion-head" style="display:flex; align-items:center;" >
            <h4  style="margin-bottom:0!important;">{{ block.settings.accordion_title_4 }}</h4>

        </div>
        <div class="faq-accordion-body" >
            <p>{{ block.settings.accordion_content_4 }}</p>
        </div>

{%- endif -%}

{% if block.settings.accordion_title_5 != blank %}

        <div class="faq-accordion-head" style="display:flex; align-items:center;" >
            <h4  style="margin-bottom:0!important;">{{ block.settings.accordion_title_5 }}</h4>

        </div>
        <div class="faq-accordion-body" >
            <p>{{ block.settings.accordion_content_5 }}</p>
        </div>

{%- endif -%}

{% if block.settings.accordion_title_6 != blank %}

        <div class="faq-accordion-head" style="display:flex; align-items:center;" >
            <h4  style="margin-bottom:0!important;">{{ block.settings.accordion_title_6 }}</h4>

        </div>
        <div class="faq-accordion-body" >
            <p>{{ block.settings.accordion_content_6 }}</p>
        </div>

{%- endif -%}

{% if block.settings.accordion_title_7 != blank %}

        <div class="faq-accordion-head" style="display:flex; align-items:center;" >
            <h4  style="margin-bottom:0!important;">{{ block.settings.accordion_title_7 }}</h4>

        </div>
        <div class="faq-accordion-body" >
            <p>{{ block.settings.accordion_content_7 }}</p>
        </div>

{%- endif -%}

{% if block.settings.accordion_title_8 != blank %}

        <div class="faq-accordion-head" style="display:flex; align-items:center;" >
            <h4  style="margin-bottom:0!important;">{{ block.settings.accordion_title_8 }}</h4>

        </div>
        <div class="faq-accordion-body" >
            <p>{{ block.settings.accordion_content_8 }}</p>
        </div>

{%- endif -%}
     
      </div> 
