<section class="items-we-assemble__wrapper">
    <div class="items-we-assemble__column">
        <a href="{{ block.settings.link_1 }}" class="items-we-assemble__link">
            <img src="{{ block.settings.image_1 | img_url: '400x' }}" 
            alt="{{ block.settings.title_1 }}" 
            class="items-we-assemble__image" />
            <h3 class="items-we-assemble__title">{{ block.settings.title_1 }}</h3>
        </a>
    </div>
    <div class="items-we-assemble__column">
        <a href="{{ block.settings.link_2 }}" class="items-we-assemble__link">
            <img src="{{ block.settings.image_2 | img_url: '400x' }}" 
            alt="{{ block.settings.title_2 }}" 
            class="items-we-assemble__image" />
            <h3 class="items-we-assemble__title">{{ block.settings.title_2 }}</h3>
        </a>
    </div>
    <div class="items-we-assemble__column">
        <a href="{{ block.settings.link_3 }}" class="items-we-assemble__link">
            <img src="{{ block.settings.image_3 | img_url: '400x' }}" 
            alt="{{ block.settings.title_3 }}" 
            class="items-we-assemble__image" />
            <h3 class="items-we-assemble__title">{{ block.settings.title_3 }}</h3>
        </a>
    </div>
    <div class="items-we-assemble__column">
        <a href="{{ block.settings.link_4 }}" class="items-we-assemble__link">
            <img src="{{ block.settings.image_4 | img_url: '400x' }}" 
            alt="{{ block.settings.title_4 }}" 
            class="items-we-assemble__image" />
            <h3 class="items-we-assemble__title">{{ block.settings.title_4 }}</h3>
        </a>
    </div>
</section>