{% schema %}
  {
    "name": "Accordions",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "dropdown",
        "name": "Dropdown",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Accordions",
        "blocks": []
      }
    ]
  }
{% endschema %}

<section class="py-4 md:py-12">
  <div class="container mx-auto px-4">
    <h2 class="text-xl md:text-3xl font-bold mb-4 md:mb-12">{{ section.settings.title }}</h2>
    <div id="accordion">
      {% for block in section.blocks %}
        {% if block.type == 'dropdown' %}
          
          <div class="accordion shadow rounded mb-4">
            <div class="accordion-header cursor-pointer group p-4 flex items-center justify-between hover:bg-gray-100 transition-colors duration-300" id="heading-{{ forloop.index }}">
              <h3 class="text-lg md:text-2xl font-medium group-hover:underline">{{ block.settings.title }}</h3>
              <div>
                  <i class="fa fas fa-plus text-xl"></i>
                  <i style="display: none;" class="fa fas fa-minus text-xl"></i>
              </div>
            </div>
            <div
              style="display: none;"
              class="accordion-body"
              id="collapse-{{ forloop.index }}"
              data-parent="#accordion">
              <div class="accordion-content p-4">
                <div class="flex flex-wrap -mx-4">
                  {% if block.settings.image %}
                    <div class="w-full md:w-1/3 px-4">
                      <img class="w-full h-auto mb-4" src="{{ block.settings.image | img_url: 'large' }}" alt="{{ block.settings.title }}">
                    </div>
                  {% endif %}
                  <div class="w-full px-4 {% if block.settings.image %}md:w-2/3{% endif %}">
                    <div class="rte">{{ block.settings.content }}</div>
                  </div>
              </div>
            </div>
          </div>  
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% javascript %} 

  $(document).ready(function() {
    $('.accordion-header').click(function() {
      $(this).toggleClass('active');
      $(this).next().stop(true).slideToggle();
      $(this).find('i').toggle();
    });
  });
 
{% endjavascript %}
