{% include 'loading-spinner' %}
   <link
    rel="stylesheet"
      href="{{ 'custom.css' | asset_url }}"
      type="text/css">
      
{% comment %}
logic to parse out sections of product description.
{% endcomment %}


{% if product.tags contains '360' or 'v360' %}
  <script>
    (function(s, i, r, v) {
      v = i.createElement(r);
      v.async = 0;
      v.src = 'https://scripts.sirv.com/sirvjs/v3/sirv.js';
      i.getElementsByTagName(r)[0].parentNode.appendChild(v);
    })(window, document, 'script');
  </script>
  <style>
    .MTGallery {
      display: none;
    }
    .MagicZoomPlus {
      display: none !important;
    }
    #SirvIcon {
      display: none;
    }
  </style>
{% endif %}

<div class="product-template__breadcrumbs-wrapper site-header md:mx-2 mx-4">
  {% include 'breadcrumbs' %}
</div>

<div
  class="product-template__container site-header product-v2"
  id="ProductSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
  data-ajax-enabled="{{ settings.enable_ajax }}">{% comment %}
    Get first variant, or deep linked one
    {% endcomment %}{%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '2024x2024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_image_zoom = section.settings.enable_image_zoom -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}


  {% capture "form_classes" -%}
  product-form product-form-{{ section.id }}
  {%- if section.settings.enable_payment_button and product.has_only_default_variant %}
    product-form--payment-button-no-variants
  {%- endif -%}
  {%- if current_variant.available == false %}
    product-form--variant-sold-out
  {%- endif -%}
  {%- endcapture %}

  {% form 'product', product, class: form_classes, novalidate: 'novalidate', data-product-form: '' %}
  {% comment %}
  Automatically inserted by Shop Pay Installments theme updater
  {% endcomment %}


  <div class="md:hidden block px-4">
    {% include 'product-price-snippet' %}
  </div>

  <div class="flex flex-wrap product-single relative {% if section.settings.enable_payment_button %} product-single--full-media{% endif %}">
    

    <div class="md:w-7/12 w-full relative {{ product_media_width }}{% if section.settings.media_size == 'full' %} product-single__media-group--full{% endif %}" data-product-single-media-group>
      <div class="timesact-badge grid__item product-single__media-group " >
        {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

        <div class="pswp--gallery slider-for">
          {% assign pswpCount = 0 %}


          {% comment %}
          {%- for media in product.media -%}
              {% include 'media', media: media, featured_media: featured_media, height: height, enable_image_zoom: enable_image_zoom, image_zoom_size: product_image_zoom_size, image_scale: product_image_scale %}
          {%- endfor -%}
          {% endcomment %}

          
          

                {% for media in product.media %}
                  <div class="product-single__thumbnails-item hidden product-single__thumbnails-item--large {% if enable_thumbnail_slides == true %} product-single__thumbnails-item-slide{% endif %} {%- if media.media_type == 'video' or media.media_type == 'external_video' -%} product-single__thumbnails-item--video{% endif %} js"{% if enable_thumbnail_slides == true %} {% if video_code != blank %}data-slider-slide-index="{{ forloop.index1 }}"{% else %}data-slider-slide-index="{{ forloop.index0 }}"{% endif %} data-slider-item{% endif %}>

                    {% comment %}
                      .pswp-item
                    {% endcomment %}
                    {% if media.media_type == 'image' %}
                      <figure class="pswp-item">
                    {% else %}
                      <div>
                    {% endif %}

                        <a href="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"
                          class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                          data-thumbnail-id="{{ section.id }}-{{ media.id }}"
                          {% if media.media_type == 'image' %}data-index="{{ pswpCount }}" data-size="1000x1000"{% endif %}
                          {% if enable_thumbnail_slides == true %} data-slider-item-link{% endif %}
                          {% if enable_image_zoom %}data-zoom="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>

                            {%- capture thumbnailAlt -%}
                              {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                                {{ 'sections.featured_product.video_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                              {%- elsif media.media_type == 'model' -%}
                                {{ 'sections.featured_product.model_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                              {%- else -%}
                                {{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                              {%- endif -%}
                            {%- endcapture -%}

                            {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                              <div class="product-single__thumbnail--video">
                                <div class="product-single__thumbnail--video--inner">
                                  <i class="fas fa-video"></i>
                                  <span class="product-single__thumbnail-label--video">Video</span>
                                </div>
                              </div>
                            {% else %}
                              
                                {%- if media.media_type != 'model' -%}
                              <img class="product-single__thumbnail-image" src="{{ media.preview_image | img_url: 'master', scale: 2 }}" alt="{{ thumbnailAlt }}">
                            {% endif %}
                           
                              
                            {% endif %}

                            {%- if media.media_type == 'model' -%}
                          

                          <div class="product-single__media" style="padding-top: 100%">
                              {{ media | model_viewer_tag: image_size: image_size, reveal: 'interaction', toggleable: true, data-model-id: media.id }}
                            </div>
                          
                            {%- endif -%}
                        </a>

                        {% comment %}
                          /.pswp-item
                        {% endcomment %}
                        {% if media.media_type == 'image' %}
                          </figure>
                          {% assign pswpCount = pswpCount | plus: 1 %}
                        {% else %}
                          </div>
                        {% endif %}
                  </div>
                {% endfor %}

                {% if video_code != blank %}
                  <div class="product-single__thumbnails-item product-single__thumbnails-item--youtube product-single__thumbnails-item--medium  product-single__thumbnails-item-slide product-single__thumbnails-item--video js" data-slider-slide-index="0" data-slider-item>
                    <a class="text-link" data-video-code="{{ video_code }}" target="_blank" href="https://www.youtube.com/watch?v={{ video_code }}&autoplay=1" onClick="ga('send', 'event', 'PDP Watched Video', 'Click', '{{product.title | escape}}');">
                      <div class="product-single__thumbnail--video">
                        <div class="product-single__thumbnail--video--inner">
                          <i class="fab fa-youtube"></i>
                          <span class="product-single__thumbnail-label--video">{{ 'products.product.watch_on_youtube' | t }}</span>
                        </div>
                      </div>
                    </a>
                  </div>
                {% endif %}



                
        </div>


        <noscript>
          {% capture product_image_size %}{{ height }}x{% endcapture %}
          
              <img src="{{ featured_media | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_media.alt }}" id="FeaturedMedia-{{ section.id }}" class="product-featured-media" style="max-width: {{ height }}px;">
          
        </noscript>

        {% assign first_3d_model = product.media | where: "media_type", "model" | first %}

        {%- if first_3d_model -%}
          <button
            aria-label="{{ 'products.product.view_in_space_label' | t }}"
            class="product-single__view-in-space"
            data-shopify-xr
            data-shopify-model3d-id="{{ first_3d_model.id }}"
            data-shopify-title="{{ product.title | escape }}"
            data-shopify-xr-hidden
            onClick="ga('send', 'event', 'AR Experience', 'View In Space', '{{product.title | escape}}');"
          >
            {% include 'icon-3d-badge-full-color' %}<span class='product-single__view-in-space-text'>{{ 'products.product.view_in_space' | t }}</span>
        
          
          
          </button>
        {%- endif -%}


        {% if product.media.size > 1 %}
          {% if product.media.size > 4 %}
            {%- assign enable_thumbnail_slides = false -%}
          {% endif %}

          <div data-thumbnail--slider>
            <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} slider-active{% endif %}" data-slider>
              {% if enable_thumbnail_slides == true %}
                <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}" data-slider-button>
                  {% include 'icon-chevron-left' %}
                  <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
                </button>
              {% endif %}

              {% assign pswpCount = 0 %}
              <ul class="slider-nav pswp-gallery product-single__thumbnails product-single__thumbnails-{{ section.id }}" data-slider-container>
                

            

                {% for media in product.media %}
                  <li class="product-single__thumbnails-item product-single__thumbnails-item--large {% if enable_thumbnail_slides == true %} product-single__thumbnails-item-slide{% endif %} {%- if media.media_type == 'video' or media.media_type == 'external_video' -%} product-single__thumbnails-item--video{% endif %} js"{% if enable_thumbnail_slides == true %} {% if video_code != blank %}data-slider-slide-index="{{ forloop.index1 }}"{% else %}data-slider-slide-index="{{ forloop.index0 }}"{% endif %} data-slider-item{% endif %}>

                    {% comment %}
                      .pswp-item
                    {% endcomment %}
                    {% if media.media_type == 'image' %}
                      <figure class="pswp-item">
                    {% else %}
                      <div>
                    {% endif %}

                        <a href="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"
                          class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                          data-thumbnail-id="{{ section.id }}-{{ media.id }}"
                          {% if media.media_type == 'image' %}data-index="{{ pswpCount }}" data-size="1000x1000"{% endif %}
                          {% if enable_thumbnail_slides == true %} data-slider-item-link{% endif %}
                          {% if enable_image_zoom %}data-zoom="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>

                            {%- capture thumbnailAlt -%}
                              {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                                {{ 'sections.featured_product.video_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                              {%- elsif media.media_type == 'model' -%}
                                {{ 'sections.featured_product.model_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                              {%- else -%}
                                {{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                              {%- endif -%}
                            {%- endcapture -%}

                            {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                              <div class="product-single__thumbnail--video">
                                <div class="product-single__thumbnail--video--inner">
                                  <i class="fas fa-video"></i>
                                  <span class="product-single__thumbnail-label--video">Video</span>
                                </div>
                              </div>
                            {% else %}
                              <img class="product-single__thumbnail-image" src="{{ media.preview_image | img_url: '110x110', scale: 2 }}" alt="{{ thumbnailAlt }}">
                            {% endif %}

                            {%- if media.media_type == 'model' -%}
                              <div class="product-single__thumbnail-badge">
                                {% include 'icon-3d-badge-full-color' %}
                              </div>
                            {%- endif -%}
                        </a>

                        {% comment %}
                          /.pswp-item
                        {% endcomment %}
                        {% if media.media_type == 'image' %}
                          </figure>
                          {% assign pswpCount = pswpCount | plus: 1 %}
                        {% else %}
                          </div>
                        {% endif %}
                  </li>
                {% endfor %}

                            {% if video_code != blank %}
                  <li class="product-single__thumbnails-item product-single__thumbnails-item--youtube product-single__thumbnails-item--medium  product-single__thumbnails-item-slide product-single__thumbnails-item--video js" data-slider-slide-index="0" data-slider-item>
                    <a class="text-link" data-video-code="{{ video_code }}" target="_blank" href="https://www.youtube.com/watch?v={{ video_code }}&autoplay=1" onClick="ga('send', 'event', 'PDP Watched Video', 'Click', '{{product.title | escape}}');">
                      <div class="product-single__thumbnail--video">
                        <div class="product-single__thumbnail--video--inner">
                          <i class="fab fa-youtube"></i>
                          <span class="product-single__thumbnail-label--video">{{ 'products.product.watch_on_youtube' | t }}</span>
                        </div>
                      </div>
                    </a>
                  </li>
                {% endif %}
                
              </ul>
          
              {% if enable_thumbnail_slides == true %}
                <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}" data-slider-button data-slider-button-next>
                  {% include 'icon-chevron-right' %}
                  <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
                </button>
              {% endif %}
            </div>
          </div>
        {% endif %}

        {% if section.settings.show_share_buttons %}
            {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media %}
          {% endif %}

          <div class="md:flex w-full justify-center items-center px-12 md:px-4 md:py-8 py-2 hidden">
            {% if section.settings.include_protect_certification_icon %}<img class="protect lg:w-3/12 w-4/12 mx-4" src="https://cdn.shopify.com/s/files/1/0545/0041/files/Pro-Tect-burnt-orange.png?v=1679676271">{% endif %}
            {% if section.settings.include_5year_icon %}<img class="warrenty lg:w-3/12 w-4/12 mx-4" src="https://cdn.shopify.com/s/files/1/0545/0041/files/5-year-warrenty.png?v=1679676271">{% endif %}
            {% if section.settings.include_guided_assembly_icon %}<img class="assembly lg:w-3/12 w-4/12 mx-4" src="https://cdn.shopify.com/s/files/1/0545/0041/files/guided-assembly.png?v=1679676271">{% endif %}
          </div>
        
      </div>
    </div>


    <div class="px-4 md:w-5/12 w-full md:pl-12">
      <div class="product-single__meta md:block flex flex-col">


        <div class="hidden md:block">
          {% include 'product-price-snippet' %} 
        </div>

        
          <select
            name="id"
            id="ProductSelect-{{ section.id }}"
            class="product-form__variants no-js">
            {% for variant in product.variants %}
              <option
                value="{{ variant.id }}"
                {%- if variant == current_variant %}
                selected="selected"
                {%- endif -%}>
                {{ variant.title }}
                {%- if variant.available == false %}
                  - {{ 'products.product.sold_out' | t }}{% endif %}
              </option>
            {% endfor %}
          </select>

          {% if section.settings.show_quantity_selector %}
            <div class="product-form__controls-group">
              <div class="product-form__item">
                <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
                <input
                  type="number"
                  id="Quantity-{{ section.id }}"
                  name="quantity"
                  value="1"
                  min="1"
                  pattern="[0-9]*"
                  class="product-form__input product-form__input--quantity"
                  data-quantity-input>
              </div>
            </div>
          {% endif %}

         
         

          {% comment %} Get all products that have tag that contains the word "size_variant" {% endcomment %}
          {% comment %} get all tags from current product {% endcomment %}
          {% comment %} get any tags that have size_variant {% endcomment %}
          {% comment %} split tag by "||"  {% endcomment %}
          {% comment %} compare second item from size varaint tag array with title from collection "collection.title == 'Norwood Gazebos'" {% endcomment %}

          
          
          
          {% for collection in collections %}
            {% if collection.title == 'Norwood Gazebos' %}
              {% for tag in product.tags %}
                {% if tag contains 'size_variant'%}
                  {% assign tagProduct = tag | split: "|| " %}
                  {% assign titleDowncase = collection.title | downcase  %}
                  {% if titleDowncase contains tagProduct[1] %}
                    <div class="available-sizes pt-4 md:pt-0">{{ 'products.product.available_sizes' | t }}</div>
                  {% endif %}
                {%endif%}
              {%endfor%}
            {% endif %}
          {% endfor %}

          {% for collection in collections %}
            {% if collection.title == 'Norwood Gazebos' %}
              {% for tag in product.tags %}
                {% if tag contains 'size_variant'%}
                  {% assign tagProduct = tag | split: "|| " %}
                  {% assign titleDowncase = collection.title | downcase  %}
                  {% if titleDowncase contains tagProduct[1] %}
                    <div class="filters-toolbar__item-child filters-toolbar__item-child--selectable mb-6">
                      <div class="filters-toolbar__input-wrapper select-group ">
                        <select name="size" id="size"
                          class="filters-toolbar__input hidden "
                          aria-describedby="a11y-refresh-page-message a11y-selection-message"
                        >
                          {% for product in collection.products %}
                            <option
                              value="{{ product.url }}"
                              {%- if item == product.title %}
                              selected="selected"
                              {%- endif -%}>
                              {{product.title}}
                            </option>
                          {% endfor %}
                        </select>
                        {% include 'icon-chevron-down' %}
                      </div>
                    </div>
                  {% endif %}
                {%endif%}
              {%endfor%}
            {% endif %}
          {% endfor %}
        

          <div class="flex flex-wrap justify-center align-items-center md:hidden">
            <div class="product-form__controls-group product-form__controls-group--submit w-full">
              <div
                class="product-form__item product-form__item--submit mb-0 md:mr-4
                {%- if section.settings.enable_payment_button %}
                  product-form__item--payment-button
                {%- endif -%}
                {%- if product.has_only_default_variant %}
                  product-form__item--no-variants
                {%- endif -%}">

                <button
                  type="submit"
                  name="add"
                  {% unless current_variant.available %}
                  aria-disabled="true"
                  {% endunless %}
                  aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                  {% if product.tags contains 'coming soon' %}class="visually-hidden"{% else %}class="btn whitespace-nowrap product-form__cart-submit{% if section.settings.enable_payment_button and product.selling_plan_groups == empty %} btn--primary{% endif %}"{% endif %}
                  {% if settings.enable_ajax %}aria-haspopup="dialog"{% endif %}
                  data-add-to-cart>
                  <span data-add-to-cart-text>
                    {% unless current_variant.available %}
                      {{ 'products.product.sold_out' | t }}
                    {% else %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% endunless %}
                  </span>
                  <span class="hide" data-loader>
                    {% include 'icon-spinner' %}
                  </span>
                </button>

                {% if section.settings.enable_payment_button %}
                  {{ form | payment_button }}
                {% endif %}
              </div>
            </div>
           
          </div>
          
          <div class="description">{{ product.description }}</div>

            <div
              class="product-form__item product-form__item--submit md:w-8/12 w-full hidden md:block
              {%- if section.settings.enable_payment_button %}
                product-form__item--payment-button
              {%- endif -%}
              {%- if product.has_only_default_variant %}
                product-form__item--no-variants
              {%- endif -%}">

              <button
                type="submit"
                name="add"
                {% unless current_variant.available %}
                aria-disabled="true"
                {% endunless %}
                aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                {% if product.tags contains 'coming soon' %}class="visually-hidden"{% else %}class="btn whitespace-nowrap product-form__cart-submit{% if section.settings.enable_payment_button and product.selling_plan_groups == empty %} btn--primary{% endif %}"{% endif %}
                {% if settings.enable_ajax %}aria-haspopup="dialog"{% endif %}
                data-add-to-cart>
                <span data-add-to-cart-text>
                  {% unless current_variant.available %}
                    {{ 'products.product.sold_out' | t }}
                  {% else %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% endunless %}
                </span>
                <span class="hide" data-loader>
                  {% include 'icon-spinner' %}
                </span>
              </button>

              {% if section.settings.enable_payment_button %}
                {{ form | payment_button }}
              {% endif %}
            </div>

          <div class="flex justify-center items-center md:px-4 md:mb-4 mb-8 md:hidden">
            {% if section.settings.include_protect_certification_icon %}<img class="protect md:w-3/12 w-4/12 md:mx-4 mx-2" src="https://cdn.shopify.com/s/files/1/0545/0041/files/Pro-Tect-burnt-orange.png?v=1679676271">{% endif %}
            {% if section.settings.include_5year_icon %}<img class="warrenty w-3/12 md:mx-4 mx-2" src="https://cdn.shopify.com/s/files/1/0545/0041/files/5-year-warrenty.png?v=1679676271">{% endif %}
            {% if section.settings.include_guided_assembly_icon %}<img class="assembly md:w-3/12 md:mx-4 w-4/12 mx-2" src="https://cdn.shopify.com/s/files/1/0545/0041/files/guided-assembly.png?v=1679676271">{% endif %}
          </div>
         
          <div class="accordion">
            {% if product.metafields.details.details.value %}
              <div class="accordion-header">{{ 'products.product.details' | t }} <span class="accordion-icon">+</span></div>
              <div class="accordion-content">{{ product.metafields.details.details.value }}</div>
            {% endif %}
            {% if product.metafields.specifications.specifications.value %}
              <div class="accordion-header">{{ 'products.product.specifications' | t }} <span class="accordion-icon">+</span></div>
              <div class="accordion-content"><img src="{{ product.metafields.specifications.specifications.value }}"/></div>
            {% endif %}
            {% if product.metafields.assembly.dimensions.value or product.metafields.assembly.content.value %}
              <div class="accordion-header">{{ 'products.product.assembly' | t }} <span class="accordion-icon">+</span></div>
              <div class="accordion-content assembly">
                <h3 class="product-instructions__title">{{ 'products.product.supported_assembly' | t }}</h3>

                {% for media in product.media %}
                  {% if media.media_type == 'model' %}
                    <div class="view-in-your-space medium-up--four-fifths small--hide">
                      {%- comment -%}<a 
                      class="medium-up--one-third"
                      data-thumbnail-id="qrcode"
                      target="_blank"
                      href="https://api.qrserver.com/v1/create-qr-code/?size=500x500&data={{ shop.url }}{{product.url}}?arqrcode=1&utm_source={{product.title | escape}}&utm_medium=View%20QR%20Code&utm_campaign=AR%20Experience">{%- endcomment -%}
                      <div>
                        <img
                          src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data={{ shop.url }}{{product.url}}?arqrcode=1&utm_source={{product.title | escape}}&utm_medium=View%20QR%20Code&utm_campaign=AR%20Experience"
                          alt="QR Code"
                          class="one-whole" />
                      </div>
                      {%- comment -%}</a>{%- endcomment -%}
                      <div class="medium-up--two-thirds">
                        <p>
                          <strong>{{ 'products.product.view_in_your_space' | t }}</strong>
                        </p>
                        <p>{{ 'products.product.view_in_your_space_extended' | t }}</p>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}

                {% if product.metafields.assembly.content.value %}
                  {{ product.metafields.assembly.content.value }}
                {% endif %}
                
                
                <div class="flex flex-wrap">
                  <div class="md:w-4/12 w-full md:pr-6">
                    {% comment %}
                    Assembly Instructions
                    {% endcomment %}
                    {% if product.metafields.manuals.english %}
                      <div class="product-instructions">
                        <div>
                          <div class="product-instructions__title mb-2">{{ 'products.product.assembly_instructions' | t }}</div>
                          <div class="flex">
                            <img
                              src="https://cdn.shopify.com/s/files/1/0545/0041/files/backyard-discovery-assembly-instructions-pdf.svg?v=1618590324"
                              alt="{{ 'products.product.assembly_instructions' | t }}"
                              class="product-template__assembly-instructions--icon"
                              style="vertical-align:middle;" />
                            <div class="flex flex-col">
                              <a
                                target="_blank"
                                onClick="ga('send', 'event', 'PDP View Manual English', 'Click', '{{product.title | escape}}');"
                                href="//backyarddiscovery.sirv.com/PDF/{{ product.metafields.manuals.english }}"
                                alt="{{ 'products.product.english' | t }}">
                                <span>{{ 'products.product.english' | t }}</span>
                              </a>
                              {% if product.metafields.manuals.spanish %}
                                <a
                                  target="_blank"
                                  onClick="ga('send', 'event', 'PDP View Manual Spanish', 'Click', '{{product.title | escape}}');"
                                  href="//backyarddiscovery.sirv.com/PDF/{{ product.metafields.manuals.spanish }}"
                                  alt="{{ 'products.product.spanish' | t }}">
                                  <span>{{ 'products.product.spanish' | t }}</span>
                                </a>
                              {% endif %}
                              {% if product.metafields.manuals.french %}
                                <a
                                  target="_blank"
                                  onClick="ga('send', 'event', 'PDP View Manual French', 'Click', '{{product.title | escape}}');"
                                  href="//backyarddiscovery.sirv.com/PDF/{{ product.metafields.manuals.french }}"
                                  alt="{{ 'products.product.french' | t }}">
                                  <span>{{ 'products.product.french' | t }}</span>
                                </a>
                              {% endif %}
                              {% if product.metafields.manuals.german %}
                                <a
                                  target="_blank"
                                  href="//backyarddiscovery.sirv.com/PDF/{{ product.metafields.manuals.german }}"
                                  alt="{{ 'products.product.german' | t }}">
                                  <span>{{ 'products.product.german' | t }}</span>
                                </a>
                              {% endif %}
                              {% if product.metafields.manuals.itallian %}
                                <a
                                  target="_blank"
                                  href="//backyarddiscovery.sirv.com/PDF/{{ product.metafields.manuals.itallian }}"
                                  alt="{{ 'products.product.italian' | t }}">
                                  <span>{{ 'products.product.italian' | t }}</span>
                                </a>
                              {% endif %}
                              {% if product.metafields.manuals.dutch %}
                                <a
                                  target="_blank"
                                  href="//backyarddiscovery.sirv.com/PDF/{{ product.metafields.manuals.dutch }}"
                                  alt="{{ 'products.product.dutch' | t }}">
                                  <span>{{ 'products.product.dutch' | t }}</span>
                                </a>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                  <div class="md:w-8/12 w-full">
                    {% if product.metafields.assembly.content.value %}
                      {{ product.metafields.assembly.dimensions.value }}
                    {% endif %}
                  </div>
                </div>
                
              
                  
                  </div>
            {% endif %}
          </div>


        
          <div class="lg:w-auto w-full order-6 md:order-last">
            {% include 'see-in-space-modal' %}
          </div>

        
        </div>
        
          <div
            class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}"
            data-error-message-wrapper
            role="alert">
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }}
            </span>
            {% include 'icon-error' %}
            <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
          </div>
         
        {% endform %}


      
        {% if product.tags contains 'clearance' %}
          <p style="color:red;">No other discounts apply</p>
        {% endif %}


        {% assign isInGazeboCollection = false %}
        
        {% if product.collections.size > 0 %}
          {% for collection in product.collections %}
            {% if collection.title contains 'Gazebos' or collection.title contains 'gazebos' %}
              {% assign isInGazeboCollection = true %}
            {% endif %}
          {% endfor %}
        {% endif %}
        


      </div>

    
    </div>
  </div>
</div>



<script type="text/javascript">
  window.addEventListener("load", function() {
    
  console.log('here');
  const urlParams = new URLSearchParams(window.location.search);
  const arqrcode = urlParams.get('arqrcode');
  if (arqrcode) {
    console.log('qr code time!');
    var arButton = document.querySelector(".product-single__view-in-space");
    arButton.click();
  }

  setTimeout(function() {
    var getMonthlyInstallment = $("#shopify-installments-content span")
    var installmentLink = $("button.shopify-installments__learn-more")

    $(installmentLink).text('or as low as')
  }, 5000);


  var doubleZeroText = $('.product-v2 .price-item.price-item--regular');

  $(doubleZeroText).each(function() {
    var removeDoubleZero = $(this).text();
    var updatedText = removeDoubleZero.replace('.00', '');
    $(this).text(updatedText);
  });
 
  

  $(document).ready(function() {
    
    const productThumbnails = $('.product-single__thumbnails-item');
    productThumbnails.removeClass('hidden');


    $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      asNavFor: '.slider-nav'
  });
  $('.slider-nav').slick({
      slidesToShow: 5,
      slidesToScroll: 1,
      vertical:true,
      asNavFor: '.slider-for',
      dots: false,
      focusOnSelect: true,
      verticalSwiping:true,
      responsive: [
      {
          breakpoint: 992,
          settings: {
            vertical: false,
          }
      },
      {
        breakpoint: 768,
        settings: {
          vertical: false,
          slidesToShow: 4,
        }
      },
      {
        breakpoint: 580,
        settings: {
          vertical: false,
          slidesToShow: 4,
        }
      },
      {
        breakpoint: 380,
        settings: {
          vertical: false,
          slidesToShow: 4,
        }
      }
      ]
  });
  });
 



});


$( function() {
    var filterWidth = jQuery('.filters-toolbar__item-child');
  
    $( "#size" ).selectmenu();

    $('#size').on('selectmenuchange', function(event, ui) {
      var newUrl = window.location.pathname;
      var url = ui.item.value;  
        window.location.href = url;
    });
  
  });
  

 
  $(document).ready(function() {
    $('body').addClass('page__product-v2')
  
    const $openModalButton = $('#open-modal');
    const $closeModalButton = $('#close-modal');
    const $modalOverlay = $('#modal-overlay');
    // Hide the modal initially
    $openModalButton.each(function() {
      $modalOverlay.hide();
      
      // When the open modal button is clicked, show the modal and disable page scrolling
      $(this).on('click', function() {
        $modalOverlay.show();
        $('body').css('overflow', 'hidden');
        $('body').addClass('overflow', 'hidden');
      });
  
      // When the close modal button is clicked, hide the modal and enable page scrolling
      $closeModalButton.on('click', function() {
        $modalOverlay.hide();
        $('body').css('overflow', 'auto');
      });
  
      // When the user clicks outside the modal or on the overlay, hide the modal and enable page scrolling
      $modalOverlay.on('click', function(event) {
        if (event.target.id === 'modal-overlay') {
          $modalOverlay.hide();
          $('body').css('overflow', 'auto');
        }
      });
    });
  });

$(document).ready(function(){
  $('.accordion-header').click(function(){
    $(this).toggleClass('active');
    $(this).next('.accordion-content').slideToggle();
    
    // Toggle the plus/minus sign
    $('.accordion-icon').text('+');
    if ($(this).hasClass('active')) {
      $(this).find('.accordion-icon').text('-');
    }

    // Slide up other accordion items
      $('.accordion-header').not(this).removeClass('active');
      $('.accordion-header').not(this).next('.accordion-content').slideUp();
  });
});



</script>



{% schema %}
  {
    "name": {
      "cs": "Stránky produktů",
      "da": "Produktsider",
      "de": "Produktseiten",
      "en": "Product pages",
      "es": "Páginas de productos",
      "fi": "Tuotesivut",
      "fr": "Pages de produits",
      "it": "Pagine di prodotto",
      "ja": "商品ページ",
      "ko": "제품 페이지",
      "nb": "Produktsider",
      "nl": "Productpagina's",
      "pl": "Strony produktu",
      "pt-BR": "Páginas de produtos",
      "pt-PT": "Páginas de produtos",
      "sv": "Produktsidor",
      "th": "หน้าสินค้า",
      "tr": "Ürün sayfaları",
      "vi": "Trang sản phẩm",
      "zh-CN": "产品页面",
      "zh-TW": "產品頁面"
    },
    "settings": [
      {
        "type": "checkbox",
        "id": "include_protect_certification_icon",
        "label": {
          "en": "Include Protect Certification Icon",
          "es": "Incluir icono de certificación de protección",
          "fr": "Inclure l'icône de certification de protection"
        },
        "default": true
      },
      {
        "type": "checkbox",
        "id": "include_5year_icon",
        "label": {
          "en": "Include 5 Year Warrenty Icon",
          "es": "Incluir icono de garantía de 5 años",
          "fr": "Inclure l'icône de garantie de 5 ans"
        },
        "default": true
      },
      {
        "type": "checkbox",
        "id": "include_guided_assembly_icon",
        "label": {
          "en": "Include Guided Assembly Icon",
          "es": "Incluir icono de ensamblaje guiado",
          "fr": "Inclure l'icône d'assemblage guidé"
        },
        "default": true
      }
    ]

  }
{% endschema %}