{% include 'loading-spinner' %}

{% comment %}
logic to parse out sections of product description.
{% endcomment %}

{% if product-description-tabs %}
	{% assign description = product-description-tabs %}
{% else %}
	{% assign description = product.description %}
{% endif %}

{% if description %}
	{% assign description_parts = description | split: "<h5" %}
	{% for part in description_parts %}
		{% if forloop.index == 1 %}
			{% assign description_content =  part | split: "</h5>" | last | replace: "<div", "<span" | replace: "</div", "</span" %}
		{% else %}
			{% if part contains "</h5>" %}
				{% assign remove = part | split: ">" | first | append: ">" %}
				{% assign descSection =  part | split: "</h5>" | first | strip_html | replace: remove, "" %}
				{% assign p = part | append: " " | split: "</h5>" | last | strip_html | replace: "&nbsp;", "" | replace: " ", "" | strip_newlines %}
				{% if p != "" %}
					{% if descSection == "Features" %}
						{% assign features_content = part | split: "</h5>" | last | replace: "<div", "<span" | replace: "</div", "</span" %}
					{% elsif descSection contains "Specs" %}
						{% assign specs_content = part | split: "</h5>" | last | replace: "<div", "<span" | replace: "</div", "</span" %}
					{% elsif descSection contains "Video" %}
						{% assign video_content = part | split: "</h5>" | last | replace: "<div", "<span" | replace: "</div", "</span" %}
						{% assign video_code = part | split: "embed/" | last | truncate: 11, "" %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
	{% endfor %}
{% endif %}

{% if product.tags contains '360' or 'v360'%}
<script>
  	(function(s,i,r,v){
      v = i.createElement(r); v.async=0;
      v.src= 'https://scripts.sirv.com/sirv.js';
      i.getElementsByTagName(r)[0].parentNode.appendChild(v);
	})(window, document, 'script');
</script>
    <style>
      .MTGallery  {
        display: none;
      }
      .MagicZoomPlus  {
        display: none!important;
      }
      #SirvIcon {
        display: none;
      }
    </style>
{% endif %}



<div class="product-template__container page-width"
  id="ProductSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
  data-ajax-enabled="{{ settings.enable_ajax }}"
>
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_image_zoom = section.settings.enable_image_zoom -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}

  {% case section.settings.media_size %}
    {% when 'small' %}
      {%- assign product_media_width = 'medium-up--one-third' -%}
      {%- assign product_description_width = 'medium-up--two-thirds' -%}
      {%- assign height = 345 -%}
    {% when 'medium' %}
      {%- assign product_media_width = 'medium-up--one-half' -%}
      {%- assign product_description_width = 'medium-up--one-half' -%}
      {%- assign height = 530 -%}
    {% when 'large' %}
      {%- assign product_media_width = 'medium-up--two-thirds' -%}
      {%- assign product_description_width = 'medium-up--one-third' -%}
      {%- assign height = 720 -%}
    {% when 'full' %}
      {%- assign product_media_width = '' -%}
      {%- assign product_description_width = '' -%}
      {%- assign height = 1090 -%}
      {%- assign enable_image_zoom = false -%}
  {% endcase %}

  

    <div class="grid__item {{ product_description_width }}">
      <div class="product-single__meta">

        
        <h1 class="product-single__title">{{ product.title }}</h1>
        <script>window.performance.mark('debut:product:title_visible');</script>

        <ul class="topofpage-ul">
          <li class="col1-item1">
            {% unless product.tags contains 'coming soon' %}
          <div class="product__price affirm-price-container">
            {% include 'product-price', variant: current_variant, show_vendor: section.settings.show_vendor %}
          </div>
           {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product__policies rte" data-product-policies>
              {%- if shop.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}
        
          </li>

          <li class="col2-item1">
{% unless product.tags contains 'coming soon' or product.tags contains 'pre-order' %}
          <div id="BVRRSummaryContainer" class="product-single__inline-ratings"></div>
        {%- endunless -%}
        
        {%- if product.tags contains 'coming soon' -%}
        <div><h3>Coming Soon!</h3></div>
        {%- endif -%}
          </li>
        </ul>

      {% capture "form_classes" -%}
            product-form product-form-{{ section.id }}
            {%- if section.settings.enable_payment_button and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
            {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
          {%- endcapture %}

          {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
            {% comment %}
              Automatically inserted by Shop Pay Installments theme updater
            {% endcomment %}

            
            
                
        
    
        {% comment %}
            <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                <option value="{{ variant.id }}"
                  {%- if variant == current_variant %} selected="selected" {%- endif -%}
                >
                  {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                </option>
              {% endfor %}
            </select>
            {% endcomment %}

            {% if section.settings.show_quantity_selector %}
             
                <div class="product-form__item">
                  <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
                  <input type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*"
                    class="product-form__input product-form__input--quantity" data-quantity-input
                  >
                </div>
              </div>
            {% endif %}

            <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}"
              data-error-message-wrapper
              role="alert"
            >
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
            </div>
            <div class="product-form__controls-group product-form__controls-group--submit">
              <div class="product-form__item product-form__item--submit
                {%- if section.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}
                {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}"
              >
                
                
              </div>
            </div>
          {% endform %}





          
<div class="grid product-single{% if section.settings.enable_payment_button %} product-single--{{ section.settings.media_size }}-media{% endif %}">
    <div class="timesact-badge grid__item product-single__media-group {{ product_media_width }}{% if section.settings.media_size == 'full' %} product-single__media-group--full{% endif %}" data-product-single-media-group>
      {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
      
<div class="pswp-gallery">
        {% assign pswpCount = 0 %}
        {%- for media in product.media -%}
            {% include 'media', media: media, featured_media: featured_media, height: height, enable_image_zoom: enable_image_zoom, image_zoom_size: product_image_zoom_size, image_scale: product_image_scale %}
        {%- endfor -%}
      </div>
      <noscript>
        {% capture product_image_size %}{{ height }}x{% endcapture %}        
            <img src="{{ featured_media | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_media.alt }}" id="FeaturedMedia-{{ section.id }}" class="product-featured-media" style="max-width: {{ height }}px;">
      </noscript>
{% assign first_3d_model = product.media | where: "media_type", "model" | first %}

      {%- if first_3d_model -%}
        <button
          aria-label="{{ 'products.product.view_in_space_label' | t }}"
          class="product-single__view-in-space"
          data-shopify-xr
          data-shopify-model3d-id="{{ first_3d_model.id }}"
          data-shopify-title="{{ product.title | escape }}"
          data-shopify-xr-hidden
          onClick="ga('send', 'event', 'AR Experience', 'View In Space', '{{product.title | escape}}');"
        >
          {% include 'icon-3d-badge-full-color' %}<span class='product-single__view-in-space-text'>{{ 'products.product.view_in_space' | t }}</span>
        </button>
      {%- endif -%}

      {% if product.media.size > 1 %}
        {% if product.media.size > 4 %}
          {%- assign enable_thumbnail_slides = true -%}
        {% endif %}

        <div data-thumbnail-slider>
          <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} slider-active{% endif %}" data-slider>
            {% if enable_thumbnail_slides == true %}
              <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}" data-slider-button>
                {% include 'icon-chevron-left' %}
                <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
              </button>
            {% endif %}

            {% assign pswpCount = 0 %}
            <ul class="pswp-gallery product-single__thumbnails product-single__thumbnails-{{ section.id }}" data-slider-container>
              {% if enable_thumbnail_slides == true %}
                <div class="product-single__thumbnails-slider-track" data-slider-track>
              {% endif %}

              {% if video_code != blank %}
                <li class="product-single__thumbnails-item product-single__thumbnails-item--youtube product-single__thumbnails-item--medium  product-single__thumbnails-item-slide product-single__thumbnails-item--video js" data-slider-slide-index="0" data-slider-item>
                  <a class="text-link" data-video-code="{{ video_code }}" target="_blank" href="https://www.youtube.com/watch?v={{ video_code }}&autoplay=1" onClick="ga('send', 'event', 'PDP Watched Video', 'Click', '{{product.title | escape}}');">
                    <div class="product-single__thumbnail--video">
                      <div class="product-single__thumbnail--video--inner">
                        <i class="fab fa-youtube"></i>
                        <span class="product-single__thumbnail-label--video">{{ 'products.product.watch_on_youtube' | t }}</span>
                      </div>
                    </div>
                  </a>
                </li>
              {% endif %}

              {% for media in product.media %}
                <li class="product-single__thumbnails-item product-single__thumbnails-item--{{ section.settings.media_size }} {% if enable_thumbnail_slides == true %} product-single__thumbnails-item-slide{% endif %} {%- if media.media_type == 'video' or media.media_type == 'external_video' -%} product-single__thumbnails-item--video{% endif %} js"{% if enable_thumbnail_slides == true %} {% if video_code != blank %}data-slider-slide-index="{{ forloop.index1 }}"{% else %}data-slider-slide-index="{{ forloop.index0 }}"{% endif %} data-slider-item{% endif %}>

                  {% comment %}
                    .pswp-item
                  {% endcomment %}
                  {% if media.media_type == 'image' %}
                    <figure class="pswp-item">
                  {% else %}
                    <div>
                  {% endif %}

                      <a href="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"
                        class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                        data-thumbnail-id="{{ section.id }}-{{ media.id }}"
                        {% if media.media_type == 'image' %}data-index="{{ pswpCount }}" data-size="1000x1000"{% endif %}
                        {% if enable_thumbnail_slides == true %} data-slider-item-link{% endif %}
                        {% if enable_image_zoom %}data-zoom="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>

                          {%- capture thumbnailAlt -%}
                            {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                              {{ 'sections.featured_product.video_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                            {%- elsif media.media_type == 'model' -%}
                              {{ 'sections.featured_product.model_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                            {%- else -%}
                              {{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                            {%- endif -%}
                          {%- endcapture -%}

                          {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                            <div class="product-single__thumbnail--video">
                              <div class="product-single__thumbnail--video--inner">
                                <i class="fas fa-video"></i>
                                <span class="product-single__thumbnail-label--video">Video</span>
                              </div>
                            </div>
                          {% else %}
                            <img class="product-single__thumbnail-image" src="{{ media.preview_image | img_url: '110x110', scale: 2 }}" alt="{{ thumbnailAlt }}">
                          {% endif %}

                          {%- if media.media_type == 'model' -%}
                            <div class="product-single__thumbnail-badge">
                              {% include 'icon-3d-badge-full-color' %}
                            </div>
                          {%- endif -%}
                      </a>

                      {% comment %}
                        /.pswp-item
                      {% endcomment %}
                      {% if media.media_type == 'image' %}
                        </figure>
                        {% assign pswpCount = pswpCount | plus: 1 %}
                      {% else %}
                        </div>
                      {% endif %}
                </li>

              {% endfor %}
      
              {% if enable_thumbnail_slides == true %}
                </div>
              {% endif %}
            </ul>
            {% if enable_thumbnail_slides == true %}
              <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}" data-slider-button data-slider-button-next>
                {% include 'icon-chevron-right' %}
                <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
              </button>
            {% endif %}
          </div>
        </div>
      {% endif %}







        

          {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product__policies rte" data-product-policies>
              {%- if shop.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}

        
        {%- endunless -%}

          {% capture "form_classes" -%}
            product-form product-form-{{ section.id }}
            {%- if section.settings.enable_payment_button and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
            {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
          {%- endcapture %}

          {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
            
            {% unless product.has_only_default_variant %}
			<div class="product-template__variation-radios">
              {% for option in product.options_with_values %}
                <div class="product-template__variation-radio-item">
                  <div class="product-template__variation-radios__title">
                    {% if option.name  == "Shipping Included" %}{{ section.settings.shipping-included-title }}{% else %}{{ option.name }}{% endif %}
                  </div>
              
                  {% if section.settings.show_assembly_option == true %}
                    {% for value in option.values %}
                        <div data-option="{{ value | escape }}" class="product-template__variation-radio-option">
                          <div class="variation-radio__circle"></div>
                          <div class="variation-radio__label">
                            {{ value }}
                          </div>
                        </div>    
                    {% endfor %}
                  {% else %}
                    {% for value in option.values %}
                      {% unless value == 'Shipping & Assembly Included' %}
                        <div data-option="{{ value | escape }}" class="product-template__variation-radio-option">
                          <div class="variation-radio__circle"></div>
                          <div class="variation-radio__label">
                            {{ value }}
                          </div>
                        </div>    
                      {% endunless %}
                    {% endfor %}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
        
            {% comment %}
            Hidden variations form. 
            Custom radio buttons in above component controls the form and adjusts the price.
            {% endcomment %}
              
            {% endunless %}
        
            <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                <option value="{{ variant.id }}"
                  {%- if variant == current_variant %} selected="selected" {%- endif -%}
                >
                  {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                </option>
              {% endfor %}
            </select>

            {% if section.settings.show_quantity_selector %}
              <div class="product-form__controls-group">
                <div class="product-form__item">
                  <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
                  <input type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*"
                    class="product-form__input product-form__input--quantity" data-quantity-input
                  >
                </div>
              </div>
            {% endif %}

            <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}"
              data-error-message-wrapper
              role="alert"
            >
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
            </div>
            <div class="product-form__controls-group product-form__controls-group--submit">
              <div class="product-form__item product-form__item--submit
                {%- if section.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}
                {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}"
              >
                
                <button type="submit" name="add"
                  {% unless current_variant.available %} aria-disabled="true"{% endunless %}
                  aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                  {% if product.tags contains 'coming soon' %}class="visually-hidden"{% else %}class="btn product-form__cart-submit{% if section.settings.enable_payment_button and product.selling_plan_groups == empty %} btn--primary{% endif %}"{% endif %}
                  {% if settings.enable_ajax %}aria-haspopup="dialog"{% endif %}
                  data-add-to-cart>
                  <span data-add-to-cart-text>
                    {% unless current_variant.available %}
                      {{ 'products.product.sold_out' | t }}
                    {% else %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% endunless %}
                  </span>
                  <span class="hide" data-loader>
                    {% include 'icon-spinner' %}
                  </span>
                </button>

<div class="shipping-included__wrapper">
            <img class="shipping-included__icon" alt="{{ 'products.product.shipping_included' | t }}" src="https://cdn.shopify.com/s/files/1/0545/0041/files/backyard-discovery-shipping-included_8ccfdd1d-45e0-484b-8730-2167ee51c79a.svg?v=1618860349">
            <span class="shipping-included__text">{{ 'products.product.shipping_included' | t }} | </span>
            <a id="OpenArrival" href="#" class="shipping-included__link"
              onClick="ga('send', 'event', 'PDP Arrival Date Click', 'Click', '{{product.title | escape}}');"> {{ 'products.product.check_arrival_dates' | t }}</a>
          </div>
            
            {% comment %}
              Automatically inserted by Shop Pay Installments theme updater
            {% endcomment %}
            {% unless settings.disable_autogenerated_payment_terms %}
              {{ form | payment_terms }}
            {% endunless %}
            
                
                {% if section.settings.enable_payment_button %}
                  {{ form | payment_button }}
                {% endif %}
              </div>
            </div>
          {% endform %}
          {% if product.tags contains 'clearance' %}
          <p style="color:red;">No other discounts apply</p>
          {% endif %}
        
          {% for media in product.media %}
            {% if media.media_type == 'model' %}
              <div class="view-in-your-space medium-up--four-fifths small--hide">
                {%- comment -%}<a 
                  class="medium-up--one-third"
                  data-thumbnail-id="qrcode"
                  target="_blank"
                  href="https://api.qrserver.com/v1/create-qr-code/?size=500x500&data={{ shop.url }}{{product.url}}?arqrcode=1&utm_source={{product.title | escape}}&utm_medium=View%20QR%20Code&utm_campaign=AR%20Experience">{%- endcomment -%}
                  <div>
                      <img 
                        src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data={{ shop.url }}{{product.url}}?arqrcode=1&utm_source={{product.title | escape}}&utm_medium=View%20QR%20Code&utm_campaign=AR%20Experience"
                        alt="QR Code"
                        class="one-whole"
                        />
                  </div>
                {%- comment -%}</a>{%- endcomment -%}
                <div class="medium-up--two-thirds">
                  <h6>{{ 'products.product.view_in_your_space' | t }}</h6>
                  <p>{{ 'products.product.view_in_your_space_extended' | t }}</p>
                </div>
              </div>
            {% endif %}
          {% endfor %}

        </div>

        {%- comment -%}
          Live region for announcing updated price and availability to screen readers
        {%- endcomment -%}
        <p class="visually-hidden" data-product-status
          aria-live="polite"
          role="status"
        ></p>

        {%- comment -%}
          Live region for announcing that the product form has been submitted and the
          product is in the process being added to the cart
        {%- endcomment -%}
        <p class="visually-hidden" data-loader-status
          aria-live="assertive"
          role="alert"
          aria-hidden="true"
        >{{ 'products.product.loader_label' | t }}</p>

        <div
          class="product-single__store-availability-container"
          data-store-availability-container
          data-product-title="{{ product.title | escape }}"
          data-has-only-default-variant="{{ product.has_only_default_variant }}"
          data-base-url="{{ shop.url }}{{ routes.root_url }}"
        >
        </div>

        {%- comment -%}
        <div class="product-single__qsw">
          <a href="#product-reviews-questions" class="qsw__link qsw__questions">{{ 'products.product.questions' | t }}</a>
          <a href="https://www.backyarddiscovery.com/pages/support" target="_blank" class="qsw__link qsw__support">{{ 'products.product.support' | t }}</a>
          <a href="https://www.backyarddiscovery.com/pages/purchase-terms-conditions" target="_blank" class="qsw__link qsw__warranty">{{ 'products.product.warranty' | t }}</a>
        </div>
        {%- endcomment -%}
    </div>
  </div>
</div>

{% assign isInGazeboCollection = false %}
        
{% if product.collections.size > 0 %}
  {% for collection in product.collections %}
    {% if collection.title contains 'Gazebos' or collection.title contains 'gazebos' %}
      {% assign isInGazeboCollection = true %}
    {% endif %}
  {% endfor %}
{% endif %}

{% comment %}
Details
{% endcomment %}
<div class="product-template__content-section details-wrapper page-width" style="padding-top:30px;">
  <div class="details {% if product.tags contains '360' %}medium-up--seven-twelfths{% else %}{% if product.tags contains 'v360' %}medium-up--seven-twelfths{% endif %}{% endif %}">

  {% if isInGazeboCollection == true %}
  <div class="product-template__gazebos-callout">
    {% if section.settings.content-hub-blocks-title %}
      <h2 class="gazebo-callout__title">{{ section.settings.content-hub-blocks-title }}</h2>
    {% endif %}

    {% for block in section.blocks %}
      {% if block.type == 'content-hub-blocks' %}
        <div class="content-hub-block grid">
          <div class="grid__item two-thirds">
            <h3 class="content-hub-block__title">{{ block.settings.title }}</h3>
            <p>
              {{ block.settings.description }}
            </p>
            {% if block.settings.link_url %}
              <a href="{{ block.settings.link_url }}">
                {% if block.settings.link_text %}
                  {{ block.settings.link_text }}
                  <i class="fa fas fa-chevron-right"></i>
                {% endif %}
              </a>
            {% endif %}
          </div>
          <div class="grid__item one-third">
            <img
              class="one-whole"
              src="{{ block.settings.image | img_url }}"
              alt="{{ block.settings.title }}" />
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
  
  
      <h2>
        {% if product.title contains "Pergola Swing" %}
          {{ 'products.product.pergola_swing_details' | t }}
        {% elsif product.title contains "Pergola" %}
          {{ 'products.product.pergola_details' | t }}
        {% elsif product.type contains "Playset" or product.type contains "Swing Set" %}
          {{ 'products.product.swing_set_details' | t }}
        {% elsif product.title contains "Picnic" %}
          {{ 'products.product.details' | t }}
        {% elsif product.title contains "Playhouse" %}
          {{ 'products.product.playhouse_details' | t }}
        {% else %}
          {{ 'products.product.details' | t }}
        {% endif %}</h2>
      <div class="variant-sku">Item# <span id="sku">{{ current_variant.sku }}</span></div>
      <div class="text">
          {{ description_content }}
      </div>
  </div>
  
  {% comment %}
  360 spinner
  {% endcomment %}
  {% if product.tags contains '360' %}
  
      <div class="medium-up--five-twelfths">
        <div class="Sirv" role="img" aria-label="360 Spin" 
            data-src="https://backyarddiscovery.sirv.com/spins/{{product.handle}}/{{product.handle}}.spin"></div>
      </div>

  {% else %}

    {% if product.images.size > 1 %}
      {% for image in product.images %}
        {% if image.alt contains "#features" %}

          {% comment %}
          Diagram section
          {% endcomment %}
          <div class="medium-up--five-twelfths">
            <div class="features">
              <img src="{{ image | product_img_url: 'large' }}" 
                  alt="{{ image.alt | escape }}" 
                  style="max-width:60%;height:auto;" />
            </div>
          </div>

        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
</div>

{% comment %}
Features section
{% endcomment %}
{% if features_content %}
  <div class="product-template__content-section features-wrapper page-width">
      <div class="features">
          <h2>
            {% if product.title contains "Pergola Swing" %}
              {{ 'products.product.pergola_swing_features' | t }}
            {% elsif product.title contains "Pergola" %}
              {{ 'products.product.pergola_features' | t }}
            {% elsif product.type contains "Playset" or product.type contains "Swing Set" %}
              {{ 'products.product.swing_set_features' | t }}
            {% elsif product.title contains "Picnic" %}
              {{ 'products.product.features' | t }}
            {% elsif product.title contains "Playhouse" %}
              {{ 'products.product.playhouse_features' | t }}
            {% else %}
              {{ 'products.product.features' | t }}
            {% endif %}
          </h2>
          {{ features_content }}
      </div>
  </div>
{% endif %}

{% comment %}
Assembly Instructions
{% endcomment %}
{% if product.metafields.manuals.english %}
  <div class="product-template__content-section assembly page-width">
    <div>
      <h2>{{ 'products.product.assembly_instructions' | t }}</h2>
        <img src="https://cdn.shopify.com/s/files/1/0545/0041/files/backyard-discovery-assembly-instructions-pdf.svg?v=1618590324" 
             alt="{{ 'products.product.assembly_instructions' | t }}"
             class="product-template__assembly-instructions--icon"
             style="vertical-align:middle;" />
        <a target="_blank" onClick="ga('send', 'event', 'PDP View Manual English', 'Click', '{{product.title | escape}}');" href="//backyarddiscovery.sirv.com/PDF/{{ product.metafields.manuals.english }}" alt="{{ 'products.product.english' | t }}"><span>{{ 'products.product.english' | t }}</span></a>
        {% if product.metafields.manuals.spanish %}<a target="_blank" onClick="ga('send', 'event', 'PDP View Manual Spanish', 'Click', '{{product.title | escape}}');" href="//backyarddiscovery.sirv.com/PDF/{{ product.metafields.manuals.spanish }}" alt="{{ 'products.product.spanish' | t }}"><span>{{ 'products.product.spanish' | t }}</span></a>{% endif %}
        {% if product.metafields.manuals.french %}<a target="_blank" onClick="ga('send', 'event', 'PDP View Manual French', 'Click', '{{product.title | escape}}');" href="//backyarddiscovery.sirv.com/PDF/{{ product.metafields.manuals.french }}" alt="{{ 'products.product.french' | t }}"><span>{{ 'products.product.french' | t }}</span></a>{% endif %}
        {% if product.metafields.manuals.german %}<a target="_blank" href="//backyarddiscovery.sirv.com/PDF/{{ product.metafields.manuals.german }}" alt="{{ 'products.product.german' | t }}"><span>{{ 'products.product.german' | t }}</span></a>{% endif %}
        {% if product.metafields.manuals.itallian %}<a target="_blank" href="//backyarddiscovery.sirv.com/PDF/{{ product.metafields.manuals.itallian }}" alt="{{ 'products.product.italian' | t }}"><span>{{ 'products.product.italian' | t }}</span></a>{% endif %}
        {% if product.metafields.manuals.dutch %}<a target="_blank" href="//backyarddiscovery.sirv.com/PDF/{{ product.metafields.manuals.dutch }}" alt="{{ 'products.product.dutch' | t }}"><span>{{ 'products.product.dutch' | t }}</span></a>{% endif %}
    </div>
  </div>
{% endif %}

{% comment %}
Specs
{% endcomment %}
{% if specs_content %}
  <div class="product-template__content-section specs-wrapper page-width">
    <div class="specs">
      {% if product.type == "Backyard Discovery Playsets" %}
        <h2>{{ 'products.product.swing_set_specs' | t }}</h2>
      {% else %}
        <h2>{{ 'products.product.specs' | t }}</h2>
      {% endif %}
      
      <div class="specs-table--overflow-wrap">
      {{ specs_content }}
      </div>
    </div>

  {% if product.tags contains 'slide' %}
    <div class="related-products-wrapper page-width">
      <div class="related-products">
        {% include 'slides' %}
      </div>
    </div>
  {% endif %}
  </div>
{% endif %}

{% comment %}
Maintenance
{% if product.type contains 'Backyard Discovery Playsets' %}        
  {% include 'ss_videos_quicklink' %}
{% endif %}

{% endcomment %}
{% comment %}
Jumbotron section: for the GoConfigure content area.
{% endcomment %}
{% if section.settings.jumbotron-size == true %}
<section class="page-width product-template__jumbotron product-template__jumbotron--small" style="background-image: url({{ section.settings.jumbotron-bg-image | img_url: '1024x' }});">
  <div>
    <div class="product-template__jumbotron-column">
      <h2 class="product-template__jumbotron-title">{{ section.settings.jumbotron-title }}</h2>
      <a href="{{ section.settings.jumbotron-button-link }}" 
        target="_self" 
        title="{{ section.settings.jumbotron-button-text }}" 
        class="product-template__jumbotron-button">{{ section.settings.jumbotron-button-text }}</a>
    </div>
</div>
</section>
{% else %}
<section class="product-template__jumbotron" style="background-image: url({{ section.settings.jumbotron-bg-image | img_url: '1024x' }});">
  <div class="page-width">
    <div class="product-template__jumbotron-column medium-up--one-half">
      <h2 class="product-template__jumbotron-title">{{ section.settings.jumbotron-title }}</h2>
      <div class="product-template__jumbotron-rte">{{ section.settings.jumbotron-rte }}</div>
      <a href="{{ section.settings.jumbotron-button-link }}" 
        target="_self" 
        title="{{ section.settings.jumbotron-button-text }}" 
        class="product-template__jumbotron-button">{{ section.settings.jumbotron-button-text }}</a>
    </div>
    <div class="product-template__jumbotron-column medium-up--one-half">
      <img src="{{ section.settings.jumbotron-image | img_url: '800x' }}" 
          alt="{{ section.settings.jumbotron-title }}" 
          class="product-template__jumbotron-image" />
    </div>
</div>
</section>
{% endif %}

{% include 'product-reviews' %}

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

{% endunless %}

  <script type="text/javascript">
     window.addEventListener("load", function() {
       console.log('here');
       	const urlParams = new URLSearchParams(window.location.search);
		const arqrcode = urlParams.get('arqrcode');
       if (arqrcode) {
         console.log('qr code time!');
         var arButton = document.querySelector(".product-single__view-in-space");
         arButton.click();
       }
     });
  </script>



          <div class="visually-hidden">

  <div class="grid product-single{% if section.settings.enable_payment_button %} product-single--{{ section.settings.media_size }}-media{% endif %}">
    <div class="timesact-badge grid__item product-single__media-group {{ product_media_width }}{% if section.settings.media_size == 'full' %} product-single__media-group--full{% endif %}" data-product-single-media-group>
      {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
      
      <noscript>
        {% capture product_image_size %}{{ height }}x{% endcapture %}        
            <img src="{{ featured_media | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_media.alt }}" id="FeaturedMedia-{{ section.id }}" class="product-featured-media" style="max-width: {{ height }}px;">
      </noscript>

      {% assign first_3d_model = product.media | where: "media_type", "model" | first %}

     

      {% if product.media.size > 1 %}
        {% if product.media.size > 4 %}
          {%- assign enable_thumbnail_slides = true -%}
        {% endif %}

        <div data-thumbnail-slider>
          <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} slider-active{% endif %}" data-slider>
            {% if enable_thumbnail_slides == true %}
              <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}" data-slider-button>
                {% include 'icon-chevron-left' %}
                <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
              </button>
            {% endif %}

            {% assign pswpCount = 0 %}
            <ul class="pswp-gallery product-single__thumbnails product-single__thumbnails-{{ section.id }}" data-slider-container>
              {% if enable_thumbnail_slides == true %}
                <div class="product-single__thumbnails-slider-track" data-slider-track>
              {% endif %}

              {% if video_code != blank %}
                <li class="product-single__thumbnails-item product-single__thumbnails-item--youtube product-single__thumbnails-item--medium  product-single__thumbnails-item-slide product-single__thumbnails-item--video js" data-slider-slide-index="0" data-slider-item>
                  <a class="text-link" data-video-code="{{ video_code }}" target="_blank" href="https://www.youtube.com/watch?v={{ video_code }}&autoplay=1" onClick="ga('send', 'event', 'PDP Watched Video', 'Click', '{{product.title | escape}}');">
                    <div class="product-single__thumbnail--video">
                      <div class="product-single__thumbnail--video--inner">
                        <i class="fab fa-youtube"></i>
                        <span class="product-single__thumbnail-label--video">{{ 'products.product.watch_on_youtube' | t }}</span>
                      </div>
                    </div>
                  </a>
                </li>
              {% endif %}

              {% for media in product.media %}
                <li class="product-single__thumbnails-item product-single__thumbnails-item--{{ section.settings.media_size }} {% if enable_thumbnail_slides == true %} product-single__thumbnails-item-slide{% endif %} {%- if media.media_type == 'video' or media.media_type == 'external_video' -%} product-single__thumbnails-item--video{% endif %} js"{% if enable_thumbnail_slides == true %} {% if video_code != blank %}data-slider-slide-index="{{ forloop.index1 }}"{% else %}data-slider-slide-index="{{ forloop.index0 }}"{% endif %} data-slider-item{% endif %}>

                  {% comment %}
                    .pswp-item
                  {% endcomment %}
                  {% if media.media_type == 'image' %}
                    <figure class="pswp-item">
                  {% else %}
                    <div>
                  {% endif %}

                      <a href="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"
                        class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                        data-thumbnail-id="{{ section.id }}-{{ media.id }}"
                        {% if media.media_type == 'image' %}data-index="{{ pswpCount }}" data-size="1000x1000"{% endif %}
                        {% if enable_thumbnail_slides == true %} data-slider-item-link{% endif %}
                        {% if enable_image_zoom %}data-zoom="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>

                          {%- capture thumbnailAlt -%}
                            {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                              {{ 'sections.featured_product.video_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                            {%- elsif media.media_type == 'model' -%}
                              {{ 'sections.featured_product.model_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                            {%- else -%}
                              {{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                            {%- endif -%}
                          {%- endcapture -%}

                          {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                            <div class="product-single__thumbnail--video">
                              <div class="product-single__thumbnail--video--inner">
                                <i class="fas fa-video"></i>
                                <span class="product-single__thumbnail-label--video">Video</span>
                              </div>
                            </div>
                          {% else %}
                            <img class="product-single__thumbnail-image" src="{{ media.preview_image | img_url: '110x110', scale: 2 }}" alt="{{ thumbnailAlt }}">
                          {% endif %}

                         
                      </a>

                      {% comment %}
                        /.pswp-item
                      {% endcomment %}
                      {% if media.media_type == 'image' %}
                        </figure>
                        {% assign pswpCount = pswpCount | plus: 1 %}
                      {% else %}
                        </div>
                      {% endif %}
                </li>

              {% endfor %}
      
              {% if enable_thumbnail_slides == true %}
                </div>
              {% endif %}
            </ul>
            {% if enable_thumbnail_slides == true %}
              <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}" data-slider-button data-slider-button-next>
                {% include 'icon-chevron-right' %}
                <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
              </button>
            {% endif %}
          </div>
        </div>
      {% endif %}

      {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media %}
        {% endif %}
    </div>
 <div class="visually-hidden">
    <div class="grid__item {{ product_description_width }}">
      <div class="product-single__meta">

        <h1 class="product-single__title">{{ product.title }}</h1>
        <script>window.performance.mark('debut:product:title_visible');</script>
        {% unless product.tags contains 'coming soon' %}
          <div id="BVRRSummaryContainer" class="product-single__inline-ratings"></div>
        {%- endunless -%}
        
        {%- if product.tags contains 'coming soon' -%}
        <div><h3>Coming Soon!</h3></div>
        {%- endif -%}
        {% unless product.tags contains 'coming soon' %}
          <div class="product__price affirm-price-container">
            {% include 'product-price', variant: current_variant, show_vendor: section.settings.show_vendor %}
          </div>

          {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product__policies rte" data-product-policies>
              {%- if shop.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}
      </div>
 <div class="visually-hidden">
          <div class="shipping-included__wrapper">
            <img class="shipping-included__icon" alt="{{ 'products.product.shipping_included' | t }}" src="https://cdn.shopify.com/s/files/1/0545/0041/files/backyard-discovery-shipping-included_8ccfdd1d-45e0-484b-8730-2167ee51c79a.svg?v=1618860349">
            <span class="shipping-included__text">{{ 'products.product.shipping_included' | t }} | </span>
            <a id="OpenArrival" href="#" class="shipping-included__link"
              onClick="ga('send', 'event', 'PDP Arrival Date Click', 'Click', '{{product.title | escape}}');"> {{ 'products.product.check_arrival_dates' | t }}</a>
          </div>
 </div>
  
           <div class="visually-hidden">
        {%- endunless -%}

          {% capture "form_classes" -%}
            product-form product-form-{{ section.id }}
            {%- if section.settings.enable_payment_button and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
            {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
          {%- endcapture %}

          {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
            {% comment %}
              Automatically inserted by Shop Pay Installments theme updater
            {% endcomment %}
            {% unless settings.disable_autogenerated_payment_terms %}
              {{ form | payment_terms }}
            {% endunless %}
            {% unless product.has_only_default_variant %}
			<div class="product-template__variation-radios">
              {% for option in product.options_with_values %}
                <div class="product-template__variation-radio-item">
                  <div class="product-template__variation-radios__title">
                    {% if option.name  == "Shipping Included" %}{{ section.settings.shipping-included-title }}{% else %}{{ option.name }}{% endif %}
                  </div>
              
                  {% if section.settings.show_assembly_option == true %}
                    {% for value in option.values %}
                        <div data-option="{{ value | escape }}" class="product-template__variation-radio-option">
                          <div class="variation-radio__circle"></div>
                          <div class="variation-radio__label">
                            {{ value }}
                          </div>
                        </div>    
                    {% endfor %}
                  {% else %}
                    {% for value in option.values %}
                      {% unless value == 'Shipping & Assembly Included' %}
                        <div data-option="{{ value | escape }}" class="product-template__variation-radio-option">
                          <div class="variation-radio__circle"></div>
                          <div class="variation-radio__label">
                            {{ value }}
                          </div>
                        </div>    
                      {% endunless %}
                    {% endfor %}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
           </div>
               <div class="visually-hidden">
            {% comment %}
            Hidden variations form. 
            Custom radio buttons in above component controls the form and adjusts the price.
            {% endcomment %}
              <div class="product-form__controls-group">
                {% for option in product.options_with_values %}
                  <div class="selector-wrapper js product-form__item">
                    <label for="SingleOptionSelector-{{ forloop.index0 }}">
                      {% if option.name  == "Shipping Included" %}{{ section.settings.shipping-included-title }}{% else %}{{ option.name }}{% endif %}
                    </label>
                    <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input"
                      id="SingleOptionSelector-{{ forloop.index0 }}"
                      data-index="option{{ forloop.index }}"
                    >
                      {% for value in option.values %}
                        <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                      {% endfor %}
                  </select>
                  </div>
                {% endfor %}
              </div>
            {% endunless %}
        
            {% comment %}
            <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                <option value="{{ variant.id }}"
                  {%- if variant == current_variant %} selected="selected" {%- endif -%}
                >
                  {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                </option>
              {% endfor %}
            </select>
            {% endcomment %}

            {% if section.settings.show_quantity_selector %}
              <div class="product-form__controls-group">
                <div class="product-form__item">
                  <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
                  <input type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*"
                    class="product-form__input product-form__input--quantity" data-quantity-input
                  >
                </div>
              </div>
            {% endif %}

            <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}"
              data-error-message-wrapper
              role="alert"
            >
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
            </div>
            <div class="product-form__controls-group product-form__controls-group--submit">
              <div class="product-form__item product-form__item--submit
                {%- if section.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}
                {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}"
              >
              </div>
                 <div class="visually-hidden">
                <button type="submit" name="add"
                  {% unless current_variant.available %} aria-disabled="true"{% endunless %}
                  aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                  {% if product.tags contains 'coming soon' %}class="visually-hidden"{% else %}class="btn product-form__cart-submit{% if section.settings.enable_payment_button and product.selling_plan_groups == empty %} btn--primary{% endif %}"{% endif %}
                  {% if settings.enable_ajax %}aria-haspopup="dialog"{% endif %}
                  data-add-to-cart>
                  <span data-add-to-cart-text>
                    {% unless current_variant.available %}
                      {{ 'products.product.sold_out' | t }}
                    {% else %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% endunless %}
                  </span>
                  <span class="hide" data-loader>
                    {% include 'icon-spinner' %}
                  </span>
                </button>
                 </div>
                 <div class="visually-hidden">
                {% if section.settings.enable_payment_button %}
                  {{ form | payment_button }}
                {% endif %}
              </div>
            </div>
          {% endform %}
          {% if product.tags contains 'clearance' %}
          <p style="color:red;">No other discounts apply</p>
          {% endif %}
               </div>
           <div class="visually-hidden">
        
          

        </div>
    </div>

      

     

     
  
                    </div>
                    </div>
                    </div>
              </div>
                    </div>
                    </div>

{% schema %}
{
  "name": {
    "cs": "Strnky produkt",
    "da": "Produktsider",
    "de": "Produktseiten",
    "en": "Product pages",
    "es": "Pginas de productos",
    "fi": "Tuotesivut",
    "fr": "Pages de produits",
    "it": "Pagine di prodotto",
    "ja": "",
    "ko": " ",
    "nb": "Produktsider",
    "nl": "Productpagina's",
    "pl": "Strony produktu",
    "pt-BR": "Pginas de produtos",
    "pt-PT": "Pginas de produtos",
    "sv": "Produktsidor",
    "th": "",
    "tr": "rn sayfalar",
    "vi": "Trang sn phm",
    "zh-CN": "",
    "zh-TW": ""
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": {
        "cs": "Zobrazit vbr mnostv",
        "da": "Vis antalsvlger",
        "de": "Mengenauswahl anzeigen",
        "en": "Show quantity selector",
        "es": "Mostrar selector de cantidad",
        "fi": "Nyt mrn valitsin",
        "fr": "Afficher le slecteur de quantit",
        "it": "Mostra selettore quantit",
        "ja": "",
        "ko": "  ",
        "nb": "Vis mengdevelger",
        "nl": "Hoeveelheidskiezer weergeven",
        "pl": "Poka selektor iloci",
        "pt-BR": "Exibir seletor de quantidade",
        "pt-PT": "Mostrar um seletor de quantidade",
        "sv": "Visa kvantitetsvljare",
        "th": "",
        "tr": "Adet seiciyi gster",
        "vi": "Hin th hp chn s lng",
        "zh-CN": "",
        "zh-TW": ""
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "cs": "Zobrazit dodavatele",
        "da": "Vis leverandr",
        "de": "Lieferanten anzeigen",
        "en": "Show vendor",
        "es": "Mostrar proveedor",
        "fi": "Nyt myyj",
        "fr": "Afficher les vendeurs",
        "it": "Mostra fornitore",
        "ja": "",
        "ko": " ",
        "nb": "Vis leverandr",
        "nl": "Leverancier weergeven",
        "pl": "Poka dostawc",
        "pt-BR": "Exibir fornecedor",
        "pt-PT": "Mostrar fornecedor",
        "sv": "Visa sljare",
        "th": "",
        "tr": "Satcy gster",
        "vi": "Hin th nh cung cp",
        "zh-CN": "",
        "zh-TW": ""
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "cs": "Zobrazit dynamick tlatko pokladny",
        "da": "Vis dynamisk betalingsknap",
        "de": "Dynamischen Checkout Button anzeigen",
        "en": "Show dynamic checkout button",
        "es": "Mostrar botn de pago dinmico",
        "fi": "Nyt dynaaminen kassapainike",
        "fr": "Afficher le bouton de paiement dynamique",
        "it": "Mostra pulsante di check-out dinamico",
        "ja": "",
        "ko": "   ",
        "nb": "Vis dynamisk knapp for  g til kassen",
        "nl": "Dynamische betaalknop weergeven",
        "pl": "Poka dynamiczny przycisk realizacji zakupu",
        "pt-BR": "Exibir boto de checkout dinmico",
        "pt-PT": "Mostrar o boto dinmico de finalizao da compra",
        "sv": "Visa dynamiska utcheckningsknappar",
        "th": "",
        "tr": "Dinamik deme dmesini gster",
        "vi": "Hin th nt thanh ton nhanh",
        "zh-CN": "",
        "zh-TW": ""
      },
      "info": {
        "cs": "Kad zkaznk uvid platebn metodu, kterou ze vech metod dostupnch v obchod (napklad PayPal nebo Apple Pay) nejvce preferuje. [Dal informace](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "da": "Den enkelte kunde vil se sin foretrukne betalingsmetode blandt dem, der er tilgngelige i din butik, f.eks. PayPal eller Apple Pay. [F mere at vide](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in deinem Shop verfgbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Informationen](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "es": "Cada cliente ver su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Ms informacin](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fi": "Kukin asiakas nkee ensisijaisen valintansa kauppasi tarjoamista maksutavoista, esim. PayPal tai Apple Pay. [Listietoja](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fr": "Chaque client verra son moyen de paiement prfr parmi ceux qui sont proposs sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "it": "Ogni cliente vedr il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ja": "PayPalApple Pay[](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ko": "  PayPal  Apple Pay         . [ ](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nb": "Hver enkelt kunde vil se sin foretrukne betalingsmte blant de som er tilgjengelig i butikken din, som PayPal eller Apple Pay. [Finn ut mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pl": "Kady klient zobaczy swoj preferowan metod patnoci wrd metod dostpnych w Twoim sklepie, np. PayPal lub Apple Pay. [Dowiedz si wicej](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-BR": "Cada cliente ver a forma de pagamento preferencial dele dentre as disponveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-PT": "Cada cliente ir ver o seu mtodo de pagamento preferido entre os disponveis na loja, como o PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "sv": "Varje kund kommer att se den fredragna betalningsmetoden frn de som finns tillgngliga i din butik, till exempel PayPal eller Apple Pay. [Ls mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "th": "  PayPal  Apple Pay [](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "tr": "Her mteri, maazanz sunulanlar arasndan tercih ettikleri deme yntemini grr (r. PayPal veya Apple Pay). [Daha fazla bilgi edinin](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "vi": "Mi khch hng s thy phng thc thanh ton u tin trong nhng phng thc thanh ton c h tr ti ca hng nh PayPal hoc Apple Pay. [Tm hiu thm](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-CN": " PayPal  Apple Pay[](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-TW": " PayPalApple Pay [](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "cs": "Zobrazit tlatka pro sdlen na socilnch stch",
        "da": "Vis knapper til deling p sociale medier",
        "de": "Buttons fr Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Nyt sosiaalisen median jakamispainikkeet",
        "fr": "Affichez les boutons de partage sur les mdias sociaux",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "",
        "ko": "   ",
        "nb": "Vis knapper for deling p sosiale medier",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pl": "Poka przyciski udostpniania w mediach spoecznociowych",
        "pt-BR": "Exibir botes de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botes de partilha nas redes sociais",
        "sv": "Visa knappar fr delning i sociala medier",
        "th": "",
        "tr": "Sosyal medya paylam dmelerini gster",
        "vi": "Hin th nt chia s qua mng x hi",
        "zh-CN": "",
        "zh-TW": ""
      },
      "default": true
    },
	{
      "type": "text",
      "id": "shipping-included-title",
      "label": {
        "en": "Shipping Included Title",
        "es": "Envo Incluido Ttulo",
        "fr": "Expdition incluse Titre"
      }
    },
    {
      "type": "header",
      "content": {
        "cs": "Multimdia",
        "da": "Medie",
        "de": "Medien",
        "en": "Media",
        "es": "Elementos multimedia",
        "fi": "Media",
        "fr": "Support multimdia",
        "it": "Media",
        "ja": "",
        "ko": "",
        "nb": "Medier",
        "nl": "Media",
        "pl": "Multimedia",
        "pt-BR": "Mdia",
        "pt-PT": "Multimdia",
        "sv": "Media",
        "th": "",
        "tr": "Medya",
        "vi": "Ni dung a phng tin",
        "zh-CN": "",
        "zh-TW": ""
      },
      "info": {
        "cs": "Dal informace o [typech multimdi](https://help.shopify.com/manual/products/product-media)",
        "da": "F mere at vide om [media types](https://help.shopify.com/manual/products/product-media)",
        "de": "Mehr Informationen ber [Medientypen ](https://help.shopify.com/manual/products/product-media)",
        "en": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)",
        "es": "Ms informacin sobre [tipos de archivos multimedia](https://help.shopify.com/manual/products/product-media)",
        "fi": "Lue lis [mediatyypeist](https://help.shopify.com/manual/products/product-media)",
        "fr": "En savoir plus sur les [types de supports multimdia](https://help.shopify.com/manual/products/product-media)",
        "it": "Scopri di pi sulle [tipologie di file multimediali](https://help.shopify.com/manual/products/product-media)",
        "ja": "[](https://help.shopify.com/manual/products/product-media) ",
        "ko": "[ ](https://help.shopify.com/manual/products/product-media)   ",
        "nb": "Lr mer om [medietyper](https://help.shopify.com/manual/products/product-media)",
        "nl": "Meer informatie over [mediatypen](https://help.shopify.com/manual/products/product-media)",
        "pl": "Dowiedz si wicej o [typach multimediw](https://help.shopify.com/manual/products/product-media)",
        "pt-BR": "Saiba mais sobre [tipos de mdia](https://help.shopify.com/manual/products/product-media)",
        "pt-PT": "Saiba mais sobre [media types](https://help.shopify.com/manual/products/product-media)",
        "sv": "Ls mer om [mediatyper](https://help.shopify.com/manual/products/product-media)",
        "th": " [](https://help.shopify.com/manual/products/product-media)",
        "tr": "[Medya trleri](https://help.shopify.com/manual/products/product-media) hakknda daha fazla bilgi edinin",
        "vi": "Tm hiu thm v [loi phng tin](https://help.shopify.com/manual/products/product-media)",
        "zh-CN": "[](https://help.shopify.com/manual/products/product-media)",
        "zh-TW": " [](https://help.shopify.com/manual/products/product-media)"
      }
    },
    {
      "type": "select",
      "id": "media_size",
      "label": {
        "cs": "Velikost",
        "da": "Strrelse",
        "de": "Gre",
        "en": "Size",
        "es": "Tamao",
        "fi": "Koko",
        "fr": "Taille",
        "it": "Dimensione",
        "ja": "",
        "ko": "",
        "nb": "Strrelse",
        "nl": "Grootte",
        "pl": "Rozmiar",
        "pt-BR": "Tamanho",
        "pt-PT": "Tamanho",
        "sv": "Storlek",
        "th": "",
        "tr": "Boyut",
        "vi": "C",
        "zh-CN": "",
        "zh-TW": ""
      },
      "options": [
        {
          "value": "small",
          "label": {
            "cs": "Mal",
            "da": "Lille",
            "de": "Klein",
            "en": "Small",
            "es": "Pequeo",
            "fi": "Pieni",
            "fr": "Petit",
            "it": "Piccolo",
            "ja": "",
            "ko": "",
            "nb": "Liten",
            "nl": "Klein",
            "pl": "May",
            "pt-BR": "Pequeno",
            "pt-PT": "Pequeno",
            "sv": "Liten",
            "th": "",
            "tr": "Kk",
            "vi": "Nh",
            "zh-CN": "",
            "zh-TW": ""
          }
        },
        {
          "value": "medium",
          "label": {
            "cs": "Stedn",
            "da": "Medium",
            "de": "Mittel",
            "en": "Medium",
            "es": "Mediano",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "it": "Medio",
            "ja": "",
            "ko": "",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pl": "redni",
            "pt-BR": "Mdio",
            "pt-PT": "Mdio",
            "sv": "Medium",
            "th": "",
            "tr": "Orta",
            "vi": "Trung bnh",
            "zh-CN": "",
            "zh-TW": ""
          }
        },
        {
          "value": "large",
          "label": {
            "cs": "Velk",
            "da": "Stor",
            "de": "Gro",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "it": "Grande",
            "ja": "",
            "ko": "",
            "nb": "Stor",
            "nl": "Groot",
            "pl": "Duy",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "",
            "tr": "Byk",
            "vi": "Ln",
            "zh-CN": "",
            "zh-TW": ""
          }
        },
        {
          "value": "full",
          "label": {
            "cs": "Pln ka",
            "da": "Fuld bredde",
            "de": "Volle Breite",
            "en": "Full-width",
            "es": "Ancho completo",
            "fi": "Tysi leveys",
            "fr": "Pleine largeur",
            "it": "Intera larghezza",
            "ja": "",
            "ko": " ",
            "nb": "Full bredde",
            "nl": "Volledige breedte",
            "pl": "Pena szeroko",
            "pt-BR": "Largura completa",
            "pt-PT": "Largura completa",
            "sv": "Full bredd",
            "th": "",
            "tr": "Tam genilikli",
            "vi": " rng y ",
            "zh-CN": "",
            "zh-TW": ""
          }
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": {
        "cs": "Povolit zvten obrzku",
        "da": "Aktivr billedzoom",
        "de": "Foto-Zoom zulassen",
        "en": "Enable image zoom",
        "es": "Habilitar zoom de imagen",
        "fi": "Ota kuvan zoomaus kyttn",
        "fr": "Activer le zoom d'image",
        "it": "Abilita lo zoom dell'immagine",
        "ja": "",
        "ko": "  ",
        "nb": "Aktiver bildezoom",
        "nl": "Inzoomen op afbeelding inschakelen",
        "pl": "Wcz powikszenie obrazu",
        "pt-BR": "Habilitar o zoom da imagem",
        "pt-PT": "Ativar o zoom da imagem",
        "sv": "Aktivera bildzoom",
        "th": "",
        "tr": "Grsel yaknlatrmay etkinletir",
        "vi": "Bt thu phng hnh nh",
        "zh-CN": "",
        "zh-TW": ""
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": {
        "cs": "Povolit smyky videa",
        "da": "Aktivr looping af videoer",
        "de": "Videoschleife aktivieren",
        "en": "Enable video looping",
        "es": "Habilitar la reproduccin de video en bucle",
        "fi": "Ota kyttn videosilmukka",
        "fr": "Activer le bouclage de la vido",
        "it": "Abilita la riproduzione in loop dei video",
        "ja": "",
        "ko": " ",
        "nb": "Aktiver lkkeavspilling av video",
        "nl": "Video-looping inschakelen",
        "pl": "Wcz zaptlanie wideo",
        "pt-BR": "Habilitar loop de vdeo",
        "pt-PT": "Ativar ciclo de vdeo",
        "sv": "Aktivera video-loopning",
        "th": "",
        "tr": "Video dngsn etkinletir",
        "vi": "Bt vng lp video",
        "zh-CN": "",
        "zh-TW": ""
      },
      "default": false
    },
    {
      "type": "text",
      "id": "jumbotron-title",
      "label": {
        "en": "Add a title.",
        "es": "Aade un titulo.",
        "fr": "Ajoutez un titre."
      }
    },
    {
      "type": "checkbox",
      "id": "show_assembly_option",
      "label": {
        "en": "Show assembly included as an option?",
        "es": "Mostrar montaje incluido como opcin?",
        "fr": "Afficher l'assemblage inclus en option?"
      }
    },
    {
      "type": "checkbox",
      "id": "jumbotron-size",
      "label": {
        "en": "Make jumbotron smaller",
        "es": "Hacer jumbotron ms pequeo",
        "fr": "Rendre le jumbotron plus petit"
      }
    },
    {
      "type": "richtext",
      "id": "jumbotron-rte",
      "label": {
        "en": "Add some content.",
        "es": "Agrega algo de contenido.",
        "fr": "Ajoutez du contenu."
      }
    },
    {
      "type": "text",
      "id": "jumbotron-button-text",
      "label": {
        "en": "Add a button label.",
        "es": "Agrega una etiqueta de botn.",
        "fr": "Ajoutez une tiquette de bouton."
      }
    },
    {
      "type": "url",
      "id": "jumbotron-button-link",
      "label": {
        "en": "Add a button link.",
        "es": "Agrega un enlace de botn.",
        "fr": "Ajoutez un lien de bouton."
      }
    },
    {
      "type": "image_picker",
      "id": "jumbotron-image",
      "label": {
        "en": "Add an image.",
        "es": "Agrega una imagen.",
        "fr": "Ajoutez une image."
      }
    },
    {
      "type": "image_picker",
      "id": "jumbotron-bg-image",
      "label": {
        "en": "Add a background image.",
        "es": "Agrega una imagen de fondo.",
        "fr": "Ajoutez une image d'arrire-plan."
      }
    },
    {
        "type": "text",
        "id": "content-hub-blocks-title",
        "label": "Gazebo Content Hub Blocks Title"
      }
  ],
  "blocks": [
      {
        "type": "content-hub-blocks",
        "name": "content-hub-blocks",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": {
              "en": "Image",
              "es": "Imagen",
              "fr": "Image"
            }
          },
          {
            "type": "text",
            "id": "title",
            "label": {
              "en": "Title",
              "es": "Ttulo",
              "fr": "Titre"
            }
          },
          {
            "type": "textarea",
            "id": "description",
            "label": {
              "en": "Description",
              "es": "Descripcin",
              "fr": "La description"
            }
          },
          {
            "type": "text",
            "id": "link_text",
            "label": {
              "en": "Link Text",
              "es": "Texto del enlace",
              "fr": "Texte du lien"
            }
          }, {
            "type": "url",
            "id": "link_url",
            "label": {
              "en": "Link URL",
              "es": "URL del enlace",
              "fr": "URL du lien"
            }
          }
        ]
      }
    ]
}
{% endschema %}