{%- include 'section-header' -%}
{% include 'breadcrumbs' %}  

<div class="feature-row-wrapper-templates">
  <div class="page-width flex-wrap-sm" style="display:flex;  margin: 0 auto; justify-content: flex-end; padding: 20px 55px">
    <div class="w-25">
         {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'link_list' -%}
                {%- assign footer_linklist = block.settings.menu -%}

                  <ul class="site-side-nav__linklist
                            {% if inline_list %}list--inline{% endif %}">
                    {%- for link in linklists[footer_linklist].links -%}
                      <li class="site-side-nav__linklist-item" style=" font-weight:600; padding-bottom: 10px;">
                        <a href="{{ link.url }}"
                          {% if link.current %} aria-current="page"{% endif %}
                        >
                          {{ link.title | escape }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
            {%- endcase -%}
          {%- endfor -%}
    </div>
    
    
    <div class="sidebar-page__content w-75">
	    {%- for block in section.blocks -%}
        {%- case block.type -%}
      
          {% comment %}
          Heading
          {% endcomment %}
          {%- when 'textarea' -%}    
            {%- include 'h-tags.liquid' -%}    

          {% comment %}  
          Content
          {% endcomment %}
          {%- when 'richtext' -%}
     		    <p> {{ block.settings.page_content }}</p>
           
          {%- when 'page_content' -%}    
            <p>{{ page.content }} </p>
 
          {% comment %}
          Button
          {% endcomment %}
          {%- when 'button' -%}    
            {% include 'button' %}
 
          {% comment %}
          Image Picker
          {% endcomment %}
          {%- when 'image_layout' -%}
            {% include 'image-picker' %}

          {% comment %}  
          Cards
          {% endcomment %}
          {%- when 'cards' -%}
            {% include 'cards' %}

          {% comment %}
          Cards
          {% endcomment %}
          {%- when 'padding' -%}
            <div style="padding:{{ block.settings.padding_size }}px;"></div>

          {% comment %}
          Full Width Image
          {% endcomment %}
          {%- when 'full_image' -%}
            <div style="background-image: url('{{ block.settings.image_picker  | img_url: '2048x' }}'); background-position: center; background-repeat: no-repeat; width:100%; height: 500px; "></div>

          {% comment %}
          Video
          {% endcomment %}
          {%- when 'video' -%}
            {%- include 'full-video' -%}

        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>






{% schema %}
{
  "name": "Roc Solid Template",
	"settings": [

    {
      "type": "header",
      "content": {
        "en": "Show Banner",
        "es": "Mostrar banner debajo del encabezado",
        "fr": "Afficher la bannière sous l'en-tête"
      },
      "info": {
        "en": "Show Banner under the header",
        "es": "Mostrar banner debajo del encabezado",
        "fr": "Afficher la bannière sous l'en-tête"
      }
    },

    {
      "type": "checkbox",
      "id": "show_banner",
      "label": {

        "en": "Show banner",
        "es": "mostrar banner",
        "fr": "afficher la bannière"
      },
      "default": false
    },
	{
      "type": "text",
      "id": "banner_text",
      "label": {
        "en": "Banner Text",
        "es": "texto de banner",
        "fr": "texte de la bannière"
      }
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": {
        "en": "Menu",
        "es": "Menú",
        "fr": "Menu"
      },

      "settings": [

        {
          "type": "link_list",
          "id": "menu",
          "label": {

            "en": "Menu",
            "es": "Menú",
            "fr": "Menu"
          },
          "default": "footer"
        }
      ]
    },


    {
      "type": "textarea",

      "name": {
        "en": "Title",
        "es": "Título",
        "fr": "Titre"
      },
		
      "settings": [
        {
           "type": "select",
           "id": "heading_size",
           "options": [
              { "value": "h2", "label": "H2"},
              { "value": "h3", "label": "H3"},
              { "value": "h4", "label": "H4"}
           ],
           "label": "Heading Size"
        },
        {
           "type": "radio",
           "id": "header-alignment",
           "options": [
              { "value": "left", "label": "Left"},
              { "value": "center", "label": "Centered"}
           ],
           "label": "Header alignment"
        },

        {
          "type": "textarea",
          "id": "title",
          "label": {
            "en": "Title",
            "es": "Título",
            "fr": "Titre"
          },
  			"default": {
            "en": "Title",
            "es": "Título",
            "fr": "Titre"
          }
        }
      ]
    },
	{
      "type": "richtext",
      "name": {
        "en": "Editable Content",
        "es": "Texto",
        "fr": "Texte"
      },
      "settings": [
        {
          "type": "richtext",
          "id": "page_content",
          "label": {
            "en": "Content",
            "es": "Contenido",
            "fr": "Contenu"
          },
          "default": {
            "en": "<p>Content</p>",
            "es": "<p>Contenido</p>",
            "fr": "<p>Contenu</p>"
          }
        }
      ]
    },
	{
      "type": "page_content",
      "name": {
        "en": "Page Content",
        "es": "Page Contenido",
        "fr": "Page Contenu"
      }
    },
    {
      "type": "padding",
      "name": {
        "en": "Padding",
        "es": "Padding",
        "fr": "Padding"
      },
      "settings": [
        {
          "type": "range",
          "id": "padding_size",
          "min": 1,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Padding",
          "default": 20
      }
      ]
    },
	{
      "type": "button",
      "name": {
        "en": "Button",
        "es": "Botón",
        "fr": "Bouton "
      },
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": {
            "en": "Button Text",
            "es": "Botón de texto",
            "fr": "Bouton texte "
          },
          "default": {
            "en": "Button Text",
            "es": "Botón de texto",
            "fr": "Bouton texte "
          }
        },
        {
          "id": "button_link",
          "type": "url",
          "label": "Button Link"
        },
        {
           "type": "radio",
           "id": "button-alignment",
           "options": [
              { "value": "left", "label": "Left"},
              { "value": "center", "label": "Centered"}
           ],
           "label": "Button alignment"
        }
      ]
    },
    {
      "type": "full_image",
      "name": {
        "en": "Full Width Image",
        "es": "imagen de ancho completo",
        "fr": "image pleine largeur"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image_picker",
          "label": {
            "en": "Image",
            "es": "Image",
            "fr": "Image"
          }
        },
        {
          "id": "image_alt",
          "type": "text",
          "label": "Image Alt"
        }
		
      ]
    },
        {
      "type": "video",
      "name": {
        "en": "Video",
        "es": "Video",
        "fr": "Video"
      },
      "settings": [
 
         {
         "type": "text",
          "id": "video_url",
          "label": "Video URL"
        }
		
      ]
    },

	{
      "type": "image_layout",
      "name": {
        "en": "3 Images in Row",
        "es": "3 Images in Row",
        "fr": "3 Images in Row"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image_picker",
          "label": {
            "en": "Image",
            "es": "Image",
            "fr": "Image"
          }
        },
        {
          "id": "image_alt",
          "type": "text",
          "label": "Image Alt"
        },
		{
          "type": "image_picker",
          "id": "image_picker_1",
          "label": {
            "en": "Image",
            "es": "Image",
            "fr": "Image"
          }
        },
        {
          "id": "image_alt_1",
          "type": "text",
          "label": "Image Alt"
        },
		{
          "type": "image_picker",
          "id": "image_picker_2",
          "label": {
            "en": "Image",
            "es": "Image",
            "fr": "Image"
          }
        },
        {
          "id": "image_alt_2",
          "type": "text",
          "label": "Image Alt"
        }
      ]
    },
	
      {
      "type": "cards",

      "name": {
        "en": "Cards",
        "es": "Cards",
        "fr": "Cards"
      },
		
      "settings": [
          {
           "type": "select",
           "id": "select_icon",
           "options": [
              { "value": "fas fa-hand-pointer", "label": "Select"},
              { "value": "fas fa-phone-alt", "label": "Phone"},
              { "value": "fad fa-comments", "label": "Chat"},
              { "value": "fas fa-envelope", "label": "Email"},
			        { "value": "fas fa-file-check", "label": "Warrenty Registration"},
              { "value": "fad fa-tools", "label": "Parts"}

           ],
          "default": "fas fa-hand-pointer",
           "label": "Icon 1"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": {
            "en": "Button Text",
            "es": "Botón de texto",
            "fr": "Bouton texte "
          },
          "default": {
            "en": "Button Text",
            "es": "Botón de texto",
            "fr": "Bouton texte "
          }
        },
        {
          "id": "button_link",
          "type": "url",
          "label": "Button Link"
        },

        {
          "type": "textarea",
          "id": "content",
          "label": {
            "en": "Content",
            "es": "Contenido",
            "fr": "Contenu"
          },
  			"default": {
            "en": "Content",
            "es": "Contenido",
            "fr": "Contenu"
          }
        },
          {
           "type": "select",
           "id": "select_icon_2",
           "options": [
              { "value": "fas fa-hand-pointer", "label": "Select"},
              { "value": "fas fa-phone-alt", "label": "Phone"},
              { "value": "fad fa-comments", "label": "Chat"},
              { "value": "fas fa-envelope", "label": "Email"},
			        { "value": "fas fa-file-check", "label": "Warrenty Registration"},
              { "value": "fad fa-tools", "label": "Parts"}

           ],
          "default": "fas fa-hand-pointer",
           "label": "Icon 2"
        },
        {
          "type": "text",
          "id": "button_text_2",
          "label": {
            "en": "Button Text",
            "es": "Botón de texto",
            "fr": "Bouton texte "
          },
          "default": {
            "en": "Button Text",
            "es": "Botón de texto",
            "fr": "Bouton texte "
          }
        },
        {
          "id": "button_link_2",
          "type": "url",
          "label": "Button Link"
        },

        {
          "type": "textarea",
          "id": "content_2",
          "label": {
            "en": "Content",
            "es": "Contenido",
            "fr": "Contenu"
          },
  			"default": {
            "en": "Content",
            "es": "Contenido",
            "fr": "Contenu"
          }
        },
          {
           "type": "select",
           "id": "select_icon_3",
           "options": [
              { "value": "fas fa-hand-pointer", "label": "Select"},
              { "value": "fas fa-phone-alt", "label": "Phone"},
              { "value": "fad fa-comments", "label": "Chat"},
              { "value": "fas fa-envelope", "label": "Email"},
			        { "value": "fas fa-file-check", "label": "Warrenty Registration"},
              { "value": "fad fa-tools", "label": "Parts"}

           ],
          "default": "fas fa-hand-pointer",
           "label": "Icon 3"
        },
        {
          "type": "text",
          "id": "button_text_3",
          "label": {
            "en": "Button Text",
            "es": "Botón de texto",
            "fr": "Bouton texte "
          },
          "default": {
            "en": "Button Text",
            "es": "Botón de texto",
            "fr": "Bouton texte "
          }
        },
        {
          "id": "button_link_3",
          "type": "url",
          "label": "Button Link"
        },

        {
          "type": "textarea",
          "id": "content_3",
          "label": {
            "en": "Content",
            "es": "Contenido",
            "fr": "Contenu"
          },
  			"default": {
            "en": "Content",
            "es": "Contenido",
            "fr": "Contenu"
          }
        }
      ]
    }




  ]

}
{% endschema %}

{% stylesheet %}
.w-33 {
	width: 33%;
}

@media (max-width: 780px) {
  .w-33 {
    width:100%;
  }

  .dir-column {
    flex-direction: column;
  }
}
  
.w-75 {
  width: 75%;
}
  
.w-25 {
  width: 25%;
}
  
@media (max-width: 942px) {
  .w-75 {
    width: 100%;
  }
    
  .w-25 {
    width: 100%;
  }
}
{% endstylesheet %}
